[2016-06-21 04:37] ethankhall opened #2 "Update EntryPointHelpers#writeEntryPointScript to accept template"
com.linkedin.gradle.python.util.EntryPointHelpers#writeEntryPointScript should be able to accept a template (probably as a String containing the template vs a resource name) so that users can update it as needed.

[2016-06-21 04:38] ethankhall opened #3 "Update EntryPointHelpers#writeEntryPointScript to use python wrapper"
com.linkedin.gradle.python.util.EntryPointHelpers#writeEntryPointScript should be updated so that the bash script can be replaced with a python wrapper.

[2016-06-21 04:54] ethankhall opened #4 "Update PythonDetails to users can programmatically add directories to be added to the path"
As a user, I want to be able to programmatically change how pygradle will resolve Python versions. For this feature to be successful, a user should be able to prepend to the search path and append to the search path.

[2016-06-21 23:19] ethankhall opened #10 "Create a 'fall back' version of python if the requested one doesn't exist."
Some users may want to not fail builds if the requested version of python isn't available so they should be able to set a 'fallback' version that would be picked up if needed.

[2016-08-02 20:57] #4 closed, assigned to nobody

[2016-08-16 19:47] quasiben opened #25 "support for conda packages"

[2016-08-16 22:10] #2 closed

[2016-08-16 22:10] #3 closed

[2016-08-17 23:09] ethankhall opened #26 "Convert codebase to java8"
In an effort to make sure that the code is stable and doesn't get small bugs, lets try to move most (not all) of the code into Java. For the code that already is Java lets fix it so it matches the Java8 style coming from Java6.

[2016-08-22 17:00] sixninetynine opened #29 "improve documentation, provide more examples"
n/t

[2016-08-23 20:55] Shad0w1nk commented on #26
I could help with this a bit while I learn the plugin. I currently have two questions regarding this work:
1. Do we care about backward compatibility regarding the ABI?
2. Would you consider this work as incremental PRs (like one or more class at a time)?

[2016-08-23 21:09] Shad0w1nk opened #30 "Support for software model"
In the native world, we are extensively exposed to the new software model (components container) and we did a quick implementation of a Python plugin following this model. The main advantage is to have multiple component in the same project. For example, it allows you to have a component which is a REST server and another one which is the API to talk with the server colocated inside the same proje

[2016-08-23 23:44] ethankhall commented on #30
Agreed! The goal is to switch to the software model with the 2.0 release. We have something that was working as of a few months ago as a spike. It would have to be updated to match any functionality that's changed but is something on the roadmap. If you're interested I can add it to the repo and you can play with it (maybe fix the changes that have happened to the api since then).

The one big thi

[2016-08-23 23:46] ethankhall commented on #26
By ABI to you mean the JNI?

Yep! If you want to make small changes open a review and we'll merge them as they come in, no reason to hold onto incremental updates :-)

[2016-08-23 23:55] Shad0w1nk commented on #30
That would be nice. The model is indeed more stable, however it would be wise to wait a bit more. Still, I would be interested to look and help fix what you already have.

[2016-08-24 00:05] ethankhall commented on #30
Sweet, I'll try to get a branch out there this week with it and I'll let you know.

[2016-08-24 00:11] Shad0w1nk commented on #26
I read this in the Gradle 3.0 release note [1] (see section "Groovy to Java conversions"). There is ways to work around if compatibility is required. We could use the same workaround as Gradle use and once the conversion is finished, we can remove the fix in the next major release. It real depends on how you feel about honoring the compatibility between version (if it's a strict semantic versionin

[2016-08-24 00:49] ethankhall commented on #26
I don't think it will be a big deal. I've been converting classes for a while to Java and haven't ran into the issue. We are also on 0.3 so this is the time to do these changes.

[2016-08-24 00:53] Shad0w1nk commented on #26
Sounds like a good plan.

[2016-08-24 19:16] ethankhall commented on #30
@Shad0w1nk I pushed up a new branch: component-model-spike it looks like 2 tests are failing but the others are passing.

[2016-08-24 20:38] oesolutions commented on #26
My 2 cents on forcing Java 8 on plugin users; Please consider supporting the same Java versions as Gradle, without requiring workarounds.
This means, if you are supporting Gradle 2.x, then support Java 6 and up. If you only intend on supporting Gradle 3+, then support Java 7 and up.

Personally I think Netflix made a mistake in dropping support for running their plugins in Java 6. IMO, it is much

[2016-08-24 22:41] Shad0w1nk commented on #26
That is actually a very good and valid point. At the current state, there isn't any dependency on the software model so the target could be Java 6 and up with Gradle 2.x. With the software model (issue 30), I would suggest riding the latest wave, aka. Gradle 3+ and Java 7. Although the plugin is quite new and could just hop directly on Gradle 3+. It just depends how many people wants to jump on bo

[2016-08-24 22:47] Shad0w1nk commented on #30
Thanks @ethankhall, I had a quick look and it is very well designed. I will have a closer look and post some suggestion, if any.

[2016-08-24 23:01] ethankhall commented on #26
I would be OK with dropping it down to Java 7 support, I don't want to go back to Java 6 (not receiving support since Feb 2013) since we do a lot of file operations, it would be a pain to have to stop using NIO and would probably introduce more external dependencies. If you look at Gradle's source they do a lot of hoop-jumping to be able to use NIO when they can and it's really a pain.

We could u

[2016-08-24 23:03] ethankhall commented on #30
Cool let me know what you find. I would be interested to hear your ideas on having different components being able to have different dependencies and maybe they extend from a shared dependency 'configuration'. That way as people have components with different versions of python, they could express the dependencies that are needed for different versions in a nice way, then we could convert those ou

[2016-08-25 00:26] Shad0w1nk commented on #26
Sounds like a good compromise to me. What do you think @oesolutions?

[2016-08-25 05:00] oesolutions commented on #26
I agree, that sounds fair enough.

[2016-08-25 05:06] amitsaha opened #32 "Example of a more complicated dependency?"
Hello, is there an existing example of ``build.gradle`` where may be I want to run another external program before I build my Python package?

[2016-08-25 14:55] ethankhall commented on #32
@amitsaha check out [https://docs.gradle.org/current/dsl/org.gradle.api.tasks.Exec.html](https://docs.gradle.org/current/dsl/org.gradle.api.tasks.Exec.html). It will let you run any executable.

[2016-08-30 12:26] ethankhall commented on #32
I'm going to close this issue @amitsaha, please comment back if this isn't what you were looking for.

[2016-08-30 12:37] amitsaha commented on #32
Thanks @ethankhall - worth (I can try) adding this as part of an example?

[2016-08-30 12:46] ethankhall commented on #32
Sure, if you want to you can make a PR that creates in another example like https://github.com/linkedin/pygradle/tree/master/examples/example-project we can review it.

[2016-08-31 03:04] ethankhall commented on #29
@sixninetynine do you have a list of thinks you want to see done for this ticket?

[2016-08-31 16:43] sixninetynine commented on #29
@ethankhall

yes, basically:

for each plugin, I'd like to provide an example project with a tutorial on how to use it. Similar to the 'example-project' we have now.

also, I'd like to provide a tutorial and example of how to mix pygradle tasks with some gradle goodies. Some examples that come to mind are things like compiling (or fetching) an executable and copying it into some included path that

[2016-09-03 02:41] ethankhall commented on #26
Update: the code base is now Java 7 compliment.

[2016-09-07 17:31] sonalgupta opened #41 "Example of using PyGradle in Intellij Idea"
I am experimenting with the example-project and trying to have both Java and Python code in one repo. In Intellij Idea, if I set the `venv` directory as the SDK then it doesn't understand Java and vice-versa. I am new to Gradle, and thus, PyGradle. Can someone please tell me or add an example of a project that uses both Java and Python, and the directions of importing it to an IDE (preferably, Int

[2016-09-07 18:29] ethankhall commented on #41
@sonalgupta IntelliJ doesn't play nicely (out of the box) with Java and Python at the same time. It doesn't have a nice way to set the sdk for each module. What I end up doing is adding the following to a python project:

[code]

Then IntelliJ will understand where the sources are, but won't know about the venv, then you manually add the venv when in IntelliJ. I have't found a better solution, but

[2016-09-07 21:06] sonalgupta commented on #29
+1
it will be great to have some documentation on how each plugin is different, what are the outputs and how to use them.

[2016-09-07 21:10] sonalgupta opened #42 ":installProject Exception when running example-project"
I ran `gradlew -i build` in the example-project directory and got the following exception.
(Replaced the actual directory with `<DIR>`). This only happens when I copy the example-project directory out of the bigger pygradle folder to `<DIR>`. If I run the build command when the directory is not moved out of the bigger folder, it works. What am I missing?

[code]

The gradle file is
[code]

[2016-09-08 16:12] ethankhall commented on #42
Hey @sonalgupta,

I pulled the example-project out into a completely un-related directory and it built fine. How did you get the gradle wrapper when you copied example-project out?

Could you run `gradlew --version`?

[2016-09-08 16:25] sonalgupta commented on #42
[code]

[2016-09-08 16:27] ethankhall commented on #42
Python should auto-generate it. Would you be able to run a clean build and paste the whole output to a gist?

[2016-09-08 16:42] sonalgupta commented on #42
https://gist.github.com/sonalgupta/1fdac45d8a1d4a8ebb9051cc912fd6c8

[2016-09-08 17:31] ethankhall commented on #42
Thanks, I know what the issue it, its a doc problem. After you run `generateSetupPy` you need to uncomment the lines at the bottom. I'll go update the docs to make this more clear.

[2016-09-08 17:35] sonalgupta commented on #42
ah ha, it works now. thanks. I wonder how it generated the first time. I never uncommented those lines, as far as I remember. Is it possible to tell gradle to not run `:installProject`?

[2016-09-08 17:36] ethankhall commented on #42
Technically, yes. But if you do that then your virtualEnv won't know about your source code and all your tests will not work.

[2016-09-08 17:39] sonalgupta commented on #42
ok, thanks again for your help!

[2016-09-08 17:40] ethankhall commented on #42
Yep no problem. I'll close this when the PR gets merged if that's OK.

[2016-09-08 17:51] zvezdan commented on #42
Merged.

[2016-09-08 17:58] #42 closed

[2016-09-08 21:52] sonalgupta opened #45 "no main manifest attribute, in pivy-importer jar"
I am trying to run the following command from the directory `/pygradle/build/pivy-importer/libs` after running `gradlew build` inside `pivy-importer`:

`java -jar pivy-importer-0.3.16-SNAPSHOT.jar --repo /tmp/libs/ virtualenv:15.0.1 pip:7.1.2`

along the lines of the example command in the docs `java -jar pivy-importer.jar --repo /path/to/destination virtualenv:15.0.1 pip:7.1.2`

and it gives the

[2016-09-08 22:39] sonalgupta commented on #45
I have found ways around to create the `ivy-repo` repo. First, to run `importRequiredDependencies` task instead of `build`. Second, to untar the `pivy-importer-0.3.16-SNAPSHOT.tar` file in `distributions` and run the java class manually. Something like `java -cp 'pivy-importer-0.3.16-SNAPSHOT/lib/*' com.linkedin.python.importer.ImporterCLI --repo /tmp/libs/ virtualenv:15.0.1 pip:7.1.2 --replace al

[2016-09-08 22:50] sonalgupta opened #46 "pivy-importer: how to include a package from a URL/wheel file"
E.g. the library `tensorflow` is not in pypi. Instead the instructions to install the library are

[code]
How do I include this package in the `ivy-repo` generated by `pivy-importer`?

[2016-09-08 23:36] sonalgupta opened #47 "how to include custom ivy-repo generated by pivy-importer in build.gradle"
Using the ivy repo in my project's gradle file in the following way gives an error

[code]

[code]

Why is it looking for .jar and .xml files? The `ivy-repo` has `.ivy` and `.tar.gz` files.

(Sorry for so many questions. If you would rather have me post on stackoverflow, please let me know the tag I should use.)

[2016-09-09 00:15] sonalgupta commented on #47
Here's the answer

[code]

[2016-09-09 02:24] ethankhall commented on #47
@sonalgupta, thanks for the input. I'll update the docs on the best way to do this. The PR is attached to the ticket, do you think the update makes since?

[2016-09-09 02:28] ethankhall commented on #46
Right now we point specifically at pypi to get the artifact. You could either update make it where it will accept a URL or you could generate the Ivy file manually. I think the importer can handle Wheels, so it might make more since to just have it able to accept a URL as input. We accept PR's :-)

[2016-09-09 02:30] ethankhall commented on #45
I'll take a look tomorrow for it. I thought it had a Main Method attribute. Sorry about the confusion.

[2016-09-09 15:18] ethankhall commented on #41
@sonalgupta were you able to get a project using pygradle working with intellij?

[2016-09-09 15:21] ethankhall commented on #45
@sonalgupta I've opened a PR that updates the docs on how to use the pivy-importer, could you give them a once over to make sure they make since to you?

[2016-09-09 15:22] sonalgupta commented on #46
Can you give an example/hint on how to tell the importer to handle wheels? I can work on getting it from the URL. If everything works, I can send a PR.

[2016-09-09 15:36] ethankhall commented on #46
So it looks like you'll have to implement something to parse Wheel files metadata, somewhat like SourceDistPackage does. To so this you'll probably want to look at `<name>-<version>.dist-info/METADATA`. There is a JSON file there, but it looks malformed. Once you have the METADATA file you can find lines that have `Requires-Dist` as use those as dependencies.

Does this help get you started?

[2016-09-09 15:36] sonalgupta commented on #45
@ethankhall added my comments.

[2016-09-09 15:38] sonalgupta commented on #41
I eventually created a different module in intellij for python code and changed the SDK for that. thanks for your help.

[2016-09-09 15:38] #41 closed

[2016-09-09 15:41] sonalgupta commented on #47
the example code added to the docs works. thanks.

[2016-09-09 15:47] ethankhall commented on #47
Sweet, I'll close this once the PR gets merged. Thanks for letting us know!

[2016-09-09 15:48] ethankhall commented on #45
Updated the PR and added a full example with expected output.

[2016-09-09 16:07] sonalgupta commented on #46
thanks. This seems more involved than I have bandwidth for :(

For doing it manually: how do I get the files that are supposed to be in the `.tar.gz`? Following are the files I get after unzipping `.whl` file above: `__init__.py	contrib		core		examples	 include		models		python		tensorboard	tools`

[2016-09-09 16:33] ethankhall commented on #46
You should be able to just use the wheel format without unzipping it. You'll have to set the artifact name to be right, along with the extensions but it should work. I haven't tested it in a long time, we don't use wheels internally so I can't guarantee it will work. We're looking at making a better story around wheels though.

[2016-09-09 17:01] sonalgupta commented on #46
It gives an exception it doesn't understand the `whl` extension:

[code]

My `.ivy` file is

[code]

[2016-09-09 17:12] ethankhall commented on #46
:-( thats sad. I guess it's not supported... @sholsapp any ideas here?

[2016-09-13 22:43] #47 closed

[2016-09-19 19:11] kavink opened #51 "How to point to internal PIP repo for installations and how to publish artifacts to Artifactory and/or PIP ?"
When i try to run build it tries to reach out to default pip repo. I have my .pip/pip.conf configured to point to internal repo.

Please can you let me know how can i configure it to use an internal repo ?
[code]

As a second question, How do i publish tar.gz to artifactory or to pip repo ? I tried publications closure does not seem to work . Thoughts ?

[2016-09-20 03:03] ethankhall commented on #51
@zvezdan can you look at the pip part? If I had to take a guess, it would be that something tries to install something that has a setup-requires section that's downloading the dependency.

What issue are you running into with publishing?

[2016-09-20 03:26] kavink commented on #51
@ethankhall Thanks for replying! Sorry i just could not find example or task which publishes tar.gz to artifactory or pip. (Sorry!)

I did try using publications of gradle, but maybe I'm doing something wrong there.

[2016-09-20 03:38] ethankhall commented on #51
Let me take a look tomorrow and I'll try to add it to the example project.

[2016-09-20 03:59] zvezdan commented on #51
Yes, `setuptools_scm` is in `setup_requires` of one of your dependencies, and `setup_requires` are not processed by `pip`. Instead, they are processed by `setuptools` and only `install_requires`, `extras_require`, and `tests_require` are passed to `pip`. You can set `[easy_install]` section in various kinds of files (`setup.cfg` or your distutils config files). See http://setuptools.readthedocs.io

[2016-09-20 17:45] ethankhall commented on #51
@kavink if you add the 'ivy-publish' plugin to the example, and add the following snippit

[code]

If you run `gradle publish`, grade will publish the artifacts to a local repo. For more customizations on how to publish to your Artifactory, check out https://docs.gradle.org/current/dsl/org.gradle.api.publish.ivy.IvyPublication.html

[2016-09-22 07:24] ssbarnea commented on #25
When I read the blog post about PyGrade this was the first thing I was wondering about. As many Python users we are now using Conda in addition to pip which clearly adds a lot of complexity to the installation of requirements.

Did anyone manage to use PyGradle with conda?

[2016-09-22 07:57] steveholden commented on #25
Some means of integrating pip-installed packages would be really helpful. Our builds have revealed problems trying to mix Conda and pip. In the absence of a Conda install it's rather more difficult to consider deploying any tool.

[2016-09-22 17:43] PeterLappo opened #55 "Plugin works on command line but fails with python not found in eclipse and idea"
Hi,
I'm using Mac El Cap - Latest Idea or latest eclipse and gradlew using 3.1 with plugin id "com.linkedin.python-sdist" version "0.3.20". Config is a copy of the example more or less.
Most strange can't find /usr/bin/python.
systemPythonInterpreter override made no difference.
Works perfectly in terminal window.

Any ideas?
Other than that a great plugin.
Peter
`
Unable to find or execute python

[2016-09-22 17:58] PeterLappo commented on #55
aha, this works, would be nice if it printed $PATH if it failed to find python
        //pythonVersion = '3,3' // Sets the version of python to use, will search your PATH to get the location
        systemPythonInterpreter = file("/usr/local/bin/python3.3") // used to force an interpreter to be used to build the venv

[2016-09-22 22:41] #55 closed

[2016-09-23 00:15] similityman opened #56 "Issue building with pygradle and local pypi repository"
I have created a local pypi repository using pyivy-importer and referring to the dependencies accordingly. Here is the completely build.gradle:

[code]

I know that the pypi reference is being done correctly. However I am still getting the following errors. Do I need to override the dependency version for each task. The reason I ask is because when I created the local pypi repository using pyivy-i

[2016-09-23 07:42] zvezdan commented on #56
We keep some packages, such as virtualenv, setuptools, wheel, pip, ..., pinned to specific versions that we confirmed through thousands of builds to work with wide variety of packages and Python versions. You can find the currently pinned versions in PythonExtension.groovy.

If you don't want to install these specific versions, we also provide a way to override (add/change) the versions as an end

[2016-09-23 18:38] similityman commented on #56
Thanks @zvezdan that worked. Alternatively I actually regenerated the ivy repository using pyivy-importer with specific versions of packages that pygradle is advising to use and per you since thousands of builds have been tested with those versions.

[2016-09-23 18:39] #56 closed

[2016-09-23 18:45] similityman opened #57 "How do I generate test and code coverage reports?"
Actually giving more examples as to how do I generate unit-test (nose), pylint and code coverage (coverage) reports will be helpful.

[2016-09-23 19:56] ethankhall commented on #51
I'm going to close this, please re-open the issue if it's still a problem.

[2016-09-23 19:56] #51 closed

[2016-09-23 19:56] #45 closed

[2016-09-23 19:57] ethankhall commented on #57
Right now we only support pytest and flake8, but the code should be easy to extend to do that. We accept PR's :-)

[2016-09-23 20:47] similityman commented on #57
Thanks @ethankhall I will be happy to try. Can you point me in that direction? New to Gradle and Groovy.

[2016-09-23 20:54] ethankhall commented on #57
I would take https://github.com/linkedin/pygradle/blob/master/pygradle-plugin/src/main/groovy/com/linkedin/gradle/python/tasks/Flake8Task.groovy and rename it to something like CodeQualityTask and then add a field to set different style checkers (flake8 or pylint) then override `preExecution` to set the commandline args needed for setting the right args to run the tool. Then do the same-ish thing

[2016-09-23 21:07] zvezdan commented on #57
@similityman Notice that `py.test` actually supports running `nose` and `unittest` tests out-of-the-box **without any changes needed**. The {py}gradle will automatically run the tests in `<your-python-project-name>/test/` directory using `py.test` with the appropriate options. See the example project setup.cfg file. You can add to it any pytest options you need:
[code]

We also have a `coverage` t

[2016-09-23 21:56] similityman commented on #57
@ethankhall - thanks for pointing out. I get it. One question though. I do not want to enforce running PyLint and Coverage by default. That is the enforcement should be user enabled. E.g this is what part of my build.gradle looks for a Java project project:

[code]

I am only enabling FindBugs and Checkstyle with explicitly mentioning their section in build.gradle. Similarly I would like to do tha

[2016-09-23 21:59] similityman commented on #57
@zvezdan - I didn't notice your comment until I replied to @ethankhall . I will checkout your suggestion. Much appreciated!

[2016-09-23 22:54] similityman commented on #57
@zvezdan - I could use pytest and that is fine. I will also be fine with static analyzer like flake8 but how do I use the coverage task? I do see this https://github.com/linkedin/pygradle/blob/master/pygradle-plugin/src/main/groovy/com/linkedin/gradle/python/tasks/PyCoverageTask.groovy but how do I use it in build.gradle?

[2016-09-23 23:14] similityman commented on #57
as simple as this huh..../gradlew build coverage

[2016-09-23 23:17] zvezdan commented on #57
@similityman

Correct. Also, if you already have a build: `./gradlew coverage` will run just coverage for you.

[2016-09-23 23:24] similityman commented on #57
Right. got confused whether to include it in build.gradle or run it on command line. Anyway what about this:

[code]

Something to do with this from PyCoverageTask.groovy?
[code]
Do I need to do anything more inside build.gradle?

[2016-09-23 23:40] zvezdan commented on #57
Do you have a `test` directory inside your Python project?
See the example project for the code structure: https://github.com/linkedin/pygradle/tree/master/examples/example-project

[2016-09-23 23:46] similityman commented on #57
I do

[code]

[2016-09-24 00:02] zvezdan commented on #57
@similityman It seems that we broke that task while removing some LinkedIn internal features.
We'll try to fix ASAP.
Thanks for notifying us!

[2016-09-24 00:07] similityman commented on #57
@zvezdan - Thanks for the promptness. Overall great work on the plugin by the team.

[2016-09-26 15:05] abhijit838 commented on #32
How PyGradlePyPi repository is working. I am unable to install requests 2.11.1. Any help how can I install all the latest dependencies as per in pypi.

[2016-09-26 15:38] ethankhall commented on #32
Hey @abhijit838, we talk about the PyGradlePyPi repo in https://github.com/linkedin/pygradle#pypi-artifacts. It's not a full mirror, it provides enough to get pygradle started. We are investigating some better options but that isn't anything really to report yet. The docs on the pivy-importer https://github.com/linkedin/pygradle/blob/master/docs/pivy-importer.md describe how to work with the impor

[2016-09-27 01:42] zvezdan commented on #57
@similityman The version 0.3.23 released today has the fixed coverage task.

[2016-09-27 07:35] abhijit838 commented on #32
Thanks @ethankhall.

[2016-09-28 18:25] similityman commented on #57
@zvezdan - Thanks for informing. I guess I don't have to do anything special as long as my build pulls in latest com.linkedin.python-sdist plugin?

[2016-09-28 18:27] zvezdan commented on #57
Correct. The 0.3.24 is already out, so if you're pulling that in, you should be fine.

[2016-10-24 16:21] mcarlin opened #66 "Version number missing from extracted docs folder name"
# Issue

Once the documentation is generated the version number is correctly part of the tar.gz filename. Once I extract it out, the version number is missing and 'null' is in it's place.

For example, let say we have the project 'Example' and it's version is '1.0'. The resulting tar.gz file for html would look like `Example-1.0-docs-html.tar.gz`. When I extract the tar.gz file, I end up with a fo

[2016-10-29 14:57] zvezdan commented on #66
@mcarlin We'll take a look at this next week.

[2016-10-29 15:04] zvezdan commented on #57
Closing the issue since it is fixed in the release 0.3.23 or higher.

[2016-10-29 15:04] #57 closed

[2016-11-02 03:44] foxundermoon opened #68 "example cannot build success"
[code]
it seems to install self as denpendence,so can not find
gradle version:3.1
java: 1.8.0_77

[2016-11-03 02:05] cay914 opened #69 "Could not create an instance of type com.linkedin.gradle.python.PythonExtension_Decorated."
When I run the example of PyGradle, I came across this exception.

my environments:
win7 64-bit
jdk1.8.0_51
gradle-3.1

thanks

![20161103100834](https://cloud.githubusercontent.com/assets/6037435/19953789/11e918ec-a1ad-11e6-89a9-ca6e3b383585.png)

[2016-11-03 03:38] zvezdan commented on #69
This is a duplicate of issue #68
Closing this one.
Please follow up for resolution on #68.

[2016-11-06 18:39] ags799 opened #72 "use /usr/bin/env interpreter for pex"
While using the `python-pex` plugin version 0.3.9, generated `.pex` files use the Python interpreter in `venv`. This inhibits their portability. [Per the pex documentation](https://pex.readthedocs.io/en/stable/whatispex.html#tl-dr) they ought to use `#!/usr/bin/env python`.

[2016-11-06 22:14] zvezdan commented on #72
@ags799
We fixed that bug in PR #52.
The front page has the link to the latest release: https://github.com/linkedin/pygradle
As of today that's 0.3.29.
Please update to the latest.

We do not use `/usr/bin/env python`, but rather the Python that users specify during the build. A pex file built with Python 2.7 may fail with Python 2.6 and will definitely fail with Python 3.5. So, using `/usr/bin/en

[2016-11-06 22:15] #72 closed

[2016-11-07 14:20] ags799 commented on #72
Thanks, and sorry for submitting this, my mistake!

[2016-11-08 12:45] busche commented on #57
Just for future reference, I cite the official web page of py.test, which tells that
"pytest will run all files in the current directory and its subdirectories of the form test_*.py or *_test.py"

Therefore, the naming of the test suites is important (e.g., SomeTest.py does not work, though Some_test.py does).

[2016-11-08 18:01] ethankhall commented on #68
@foxundermoon can you please provide the entire output from `./gradlew build --info --stacktrace` in a gist? Debug output from Gradle is usually not helpful because it's very verbose.

[2016-11-08 18:09] ethankhall commented on #69
@zvezdan this are different issues.
@cay914 can you please run `gradle wrapper --gradle-version 3.0 --stacktrace`?

[2016-11-08 19:31] zvezdan commented on #57
@busche

Correct. The default pattern for standard library `unittest` module is `test*.py`: https://docs.python.org/3.5/library/unittest.html#unittest-test-discovery and https://docs.python.org/2.7/library/unittest.html#unittest-test-discovery

Other test runners, such as `nose`, `zope.testrunner`, `py.test`, ..., just follow the suit with the same default pattern. The default can be changed, thou

[2016-11-10 09:35] busche opened #75 "Definition of an explicit installation sequence of dependencies?"
Hi all,

this question might be more related to Gradle than to pygradle, so please redirect me if necessary. Anyhow, I think its worth discussing in the context of pygradle here.

Currently, I am trying to build a minimal working example in the setting of Machine Learning (say, a getting started project on the Iris dataset) using:
* Docker as a build container
* pygradle to build my python project

[2016-11-10 20:22] sholsapp commented on #75
Hi @busche, do you know if the scipy or scikit-learn maintainers are aware of this missing metadata (i.e., the dependency declaration)? If that was properly modeled, this wouldn't be an issue. I think @zvezdan might have a work around for you that we use with other internal dependencies that have this type of bad or missing metadata.

[2016-11-11 00:21] zvezdan commented on #75
@sholsapp This is an issue because these scientific Python packages are not pure Python packages but rather Python/C/Fortran libraries that unfortunately depend on each other's C shared libraries to build. Standard Python packages don't have this issue and can be installed out-of-order from their dependencies.

We do have a flexibility to change this in pygradle, though, very easily.
I'm currently

[2016-11-15 13:57] cay914 commented on #69
[file.txt](https://github.com/linkedin/pygradle/files/592114/file.txt)
OK. Here is the exception file log. @ethankhall

[2016-11-15 17:32] JLLeitschuh opened #76 "Multiple Source Directories?"

[2016-11-15 17:32] JLLeitschuh opened #77 "Multiple Source Directories?"
We have a

[2016-11-15 17:34] JLLeitschuh commented on #76
Duplicate created by chrome. Sorry about that.

[2016-11-15 17:34] #76 closed

[2016-11-15 20:14] zvezdan commented on #77
@JLLeitschuh Can you please explain more about your project structure?

Can the two directories be considered two different Python projects where one consumes another?
In that case they could be two pygradle projects (directories) and produce two artifacts. The build.gradle of one of them would contain a reference to another as a dependency.

Otherwise, can both of these be under the `src` directo

[2016-11-16 16:29] JLLeitschuh commented on #77
The solution I came to was to copy the generated sources and the source directory into the same directory in the build directory and use that as the directory to create the egg.

[2016-11-16 19:36] JLLeitschuh opened #78 "Creating an egg as a distribution?"
I've configured my build to create the `tar.gz` using the `sdist` plugin.

Is there any easy way to also create an `.egg` artifact as well?

Looking at the source it seems like the arguments passed are hard coded so I'm going to assume no but I figured I should ask.

https://github.com/linkedin/pygradle/blob/master/pygradle-plugin/src/main/groovy/com/linkedin/gradle/python/tasks/SourceDistTask.jav

[2016-11-16 20:07] JLLeitschuh opened #79 "ImporterCLI wrapped in a gradle task"
I'm using this code for our internal creation of the ivy repo.
Others may find this useful.
This file is in our `buildSrc`.

[code]

[2016-11-16 21:16] schakrava opened #80 "sdist does not get rebuilt when source changes"
The sdist task(SourceDistTask.java) is not properly configured with inputs/outputs to detect changes in source, for example. Deriving from AbstractPythonMainSourceDefaultTask instead of DefaultTask(present case) fixes this problem.

We should also exclude **/*.egg-info/ from source Inputfiles.

[2016-11-17 21:48] JLLeitschuh commented on #78
I solved this problem by creating my own task and plugin in gradle that imports this plugin.

Here's the code I used to fix this problem for anyone else that needs it (both are in groovy in our buildSrc project).

You'll have to add the imports yourself.

[code]

[code]

[2016-11-18 01:14] JLLeitschuh commented on #80
I think that this can be fixed by adding `@OutputDirectory` to the `getDistDir` method in the task.

[2016-11-18 17:23] JLLeitschuh commented on #78
Note: I originally had the `getEggDistOutput` method wrong. I have since fixed it as you can see above.

[2016-11-18 18:36] JLLeitschuh opened #82 "Version should be configurable in plugin"
The plugin currently uses the hard coded `project.version` which may, in development enviroments, not be compliant with [PEP-0440](https://www.python.org/dev/peps/pep-0440/).

Additionally, in the java/maven world, `-SNAPSHOT` is used for versions while python uses `.preview`.

This problem exposes itself when you try to create an egg as I have done in #78.
The egg for the version `master_20161117

[2016-11-18 18:48] JLLeitschuh commented on #82
I clearly don't understand gradle plugins.
This works:
[code]

[2016-11-18 19:22] JLLeitschuh commented on #82
So in order for the artifacts to also have the correct name you must have the `python` block declared above the imports of the `python-sdist` plugin.

[code]

This is because the artifacts are added by these plugins using file names that contain the version.
The artifact file name is not updated when the version number changes.

[2016-11-18 21:51] zvezdan commented on #82
@JLLeitschuh
Two questions:
1. Did you try using `${ -> project.version }` instead? That should resolve correctly after changes.
2. Is there a reason why you use master_xxx instead of semantic versioning (e.g., 1.0.4)?

We do not have these issues because internally we always use a GradleDistribution class in setup.py (see our generated setup.py) that uses the `python.pythonEnvironmentDistgradle`

[2016-11-21 15:03] busche commented on #75
Hi @zvezdan,

do you have any updates on this issue? Maybe I can lend a hand in testing something?

Best,
  André

[2016-11-21 15:24] JLLeitschuh commented on #82
The versioning schema is something that the company uses internally for feature development and our master branch. We use semantic versioning for releases.

The problem is that the artifacts are generated when the plug-in is loaded.

The `apply` method for the plugin is not called again when the version is changed.
You can see here that the method that declares the artifact's location is here: htt

[2016-11-22 00:10] #80 closed

[2016-11-22 00:52] zvezdan commented on #75
@busche
You can put the dependencies in the order you want to enforce in _build.gradle_:
[code]
Then add (probably before this section):
[code]
If you want to avoid depending on a specific internal name, you can use this instead:
[code]
That will avoid sorting the dependencies before the install and install them in the order they appear in the direct dependencies closure.

[2016-11-23 17:26] busche commented on #75
Short feedback from my side: ***It works***.
Within the next days, I will have a small write-up on this.

[2016-11-29 05:23] JLLeitschuh commented on #78
Updated version for newest release of plugin:
[code]

[2016-11-30 08:15] sixninetynine opened #83 "update code docs"
Just a couple spots that have outdated comments:

https://github.com/linkedin/pygradle/blob/01d079e2b53bf9933aa786af1ec7dabcf964c669/pygradle-plugin/src/main/groovy/com/linkedin/gradle/python/plugin/PythonPlugin.groovy#L156-L161

https://github.com/linkedin/pygradle/blob/01d079e2b53bf9933aa786af1ec7dabcf964c669/pygradle-plugin/src/main/groovy/com/linkedin/gradle/python/plugin/PythonPlugin.groovy#L

[2016-12-01 05:52] JLLeitschuh opened #84 ""setup.py sdist --dist-dir" command converts version numbers with `_` to `-`"
This seems to be the opposite of what the `setup.py bdist_egg` command does.

When `setup.py sdist` encounters a version with an `_` character in it the resulting `tar.gz` file has the version converted to a `-`

So a version `'gradleBuild_2016111701.preview'`

Creates a `tar.gz` with the name: `$project.name-gradleBuild-2016111701.preview.tar.gz`

The `getSdistOutput` method in `SourceDistTask` s

[2016-12-01 10:34] zvezdan commented on #84
This obviously needs to be fixed for such version "numbers".

However, neither underscore, nor dash should be used in the version.
This is the output of `python setup.py sdist` command for both:
[code]
[code]
So, with a future update of setuptools, we can fully expect such version "numbers" to cause an error.

[2016-12-02 08:58] busche commented on #75
I've added the example as PR #87 - I hope this helps the others to get started.

[2016-12-12 15:51] JLLeitschuh commented on #79
Because of how gradle does dependency resolution before any tasks get run I had to move this into a `beforeEvaluate` block in the parent `build.gradle`

[code]

The wrapper updated:
[code]

Our specific version of `dependencies.gradle`

[code]

[2016-12-13 23:04] #84 closed

[2016-12-19 17:52] scphantm opened #92 "Windows compatibility"
Am i missing something or is pygradle not compatible with Windows?  I added it to a Java project so I can enable sphinx and i get the error

[code]

now this worked perfectly on my Mac, I was actually very excited.  so i did some digging and i found this in `com.linkedin.gradle.python.extension.PythonDetails`

[code]

and this in `com.linkedin.gradle.python.util.internal.ExecutablePathUtils`

[cod

[2016-12-19 18:07] zvezdan commented on #92
@scphantm The code you pointed to was actually recently added to provide compatibility with Windows. See PR #90 for details.
However, this does require that you add a path where your Python interpreter can be found.
[code]
Let me know if you need any other info.

[2016-12-19 18:23] scphantm commented on #92
But i can't create a path object in my build.gradle file because some developers use Mac, some use linux, some use windows and our CI server is linux.  whats wrong with the good old fashioned

if (os == 'win') { exe = "python.exe"} else { exe = 'python' }

loop path looking for it?  The moment you start specifying paths in the build.gradle file you hose out my CI servers, because they absolutely d

[2016-12-19 18:31] sixninetynine commented on #92
Could you only define the path on windows?

something like:
[code]

[2016-12-19 18:39] scphantm commented on #92
first of all, don't use system.getproperty.  use

[code]

far less compatibility issues with various operating systems like BSD and some of the more obscure offshoots.

Second.  My organization has 1200 projects that we are converting to Gradle over the next year.  We want pygradle in the mix.  Could you please justify why I would have to copy that snip into 1200 different build.gradle files inste

[2016-12-19 18:44] sixninetynine commented on #92
I was merely asking the question with a simple example... manual maintenance of ~1200 build files is a reasonable enough answer as to "why not". I'll defer to my colleagues @ethankhall and/or @zvezdan on your second question. Though I'm a bit confused by your tone, I hope I didn't give you the impression that we aren't interested in your problem! We certainly are!

[2016-12-19 19:00] scphantm commented on #92
If its an oversite, then I'm trying to fix it, if it was designed that way im trying to understand why.  but at the moment I can't get pygradle to compile on my Winblows machine.  But i think that has more to do with our retarded firewall rules than the code. (wouldn't be the first time) but if i can't, i have no way to test the patch before submitting the PR as all my other machines are Mac and L

[2016-12-19 19:06] scphantm opened #93 "Split Sphinx into its own plugin"
I intend to experiment with this but I wanted your opinion.  I have a huge number of java projects i want to add pygradle to because I want to position Sphinx as our language independent code documentation system and i love pygradles dependency management system.  The issue is that every time you do a sphinx compile it executes the project install task.  Before i waste any time trying to rip thing

[2016-12-19 19:26] zvezdan commented on #92
@scphantm
Thank you for explaining your use case.
Here's some background information that can help you make decisions on your side as well.

During the open-sourcing of pygradle, we had to remove a lot of things specific to LinkedIn and make pygradle usable in a generic environment for any user. However, we do have some very specific extensions, plugins, and settings that we still needed to be abl

[2016-12-19 20:39] scphantm commented on #92
thats actually exactly the way i am structuring things.  stuff like pygradle's default source is src, but in mine i need it to be src/main/python.  Im handling that stuff in my wrapper.  but this one, I figured it was just an over site.  I will attempt to attach a PR if i can get the thing to build on my machine to fix this issue.

[2016-12-20 02:25] scphantm commented on #92
I have a fix sorta running.  I had to conditionally ignore a few tests because they are shell based which crashes on windows.  Im going to probably need a little help with some replacement code for those.  But the more pressing problem is this.  I don't know enough about that dependency system to be able to really debug this.  Any ideas where i can start?  Keep in mind, this is most certainly a Wi

[2016-12-21 13:23] scphantm commented on #92
I could really use some help on the cross platform unit tests.  I still havn't gotten the virtual environment to work, but i am working on the unit tests.  I suspect when I get the units running, the venv will do something other than crash.

The problem i am having with the unit tests are the different ways OS's load the exe.  so for nix/mac, python 2 would be `/bin/python2` or `/bin/python2.7`.

[2016-12-21 13:24] scphantm commented on #92
https://github.com/linkedin/pygradle/pull/95 BTW

[2016-12-21 16:25] ethankhall commented on #92
@scphantm It looks like the Windows impl of Path doesn't support file paths.

[code]

Should fix the issue and move from using Path to an Apache library.

Right now the way we get the version is by executing `python --version` to see what version it responds with. So I think thats probably what we want to keep doing.

What we do in some of our tests that are just going to validate that the parser

[2016-12-22 11:49] scphantm commented on #92
I have some paying work to wrap up today before i jump on this.  but i gotta think there's some way to replicate the env for testing.  this isn't a unique problem.  I will dig a bit deeper and find it. I will look at that apache library, if it abstracts the differences between posix and dos file systems, i may be able to use that to generate a virtual OS file system that will meet our needs.  Then

[2016-12-22 23:58] scphantm commented on #92
ive been doing some digging and it appears the way that other teams deal with this is running virtualbox and executing the units on both environments.  Configuring appveyor may be our best bet, if you have an instance available.  Then a series of IgnoreIf statements

[2016-12-27 13:44] blankdots opened #96 "Exclude dependency from Python3 build?"
I am trying to build a project with python 3.4 and during build i get an error at one of the dependencies and it looks like:
[code]

I should also mention that I am able to build and test the application in Python 2.7.6 using Gradle without any problem and that when creating a virtual environment for Python 3 specific for this project I do not run into any issues installing the dependencies (... e

[2016-12-30 18:25] jr4 opened #97 "support for shared lib dependencies?"
I have dependencies that in turn depend on an .so.  Is this supported currently?  What is the best pygradle way to accomplish this?

It's failing for me during :installPythonRequirements, during setup.py of the module that depends, that's when it notices the library's missing.

Do I need to create an extension module and publish it to a local pypi repo?  If so how would I ensure that the dependenc

[2016-12-31 01:54] sholsapp commented on #97
@jr4 expressing dependencies on native libraries isn't supported today, but it is something that we're currently working on ourselves. Stay tuned!

For the time being, you'll have to install these native libraries on your machines manually.

[2017-01-04 13:00] blankdots commented on #96
looking at the dependencies it seems to be caused by jsonschema:
[code]
Relate issue: https://github.com/Julian/jsonschema/issues/228 which apparently it should work with Python3, however the problem still appears.

[2017-01-04 23:54] scuba10steve commented on #69
I have had the same thing on my machine at work, and I attempted the same exact process on a linux vm and I did not have any issues, just tried it on my machine here at my home and produced the same error as on my windows machine at work, so it looks like the issue could be os dependent.

[2017-01-05 00:00] ethankhall commented on #69
@scuba10steve did you see it on Windows then?

[2017-01-05 00:14] scuba10steve commented on #69
@ethankhall Yes, but not on a linux based machine, more specifically it was a VirtualBox VM running Xubuntu 16.04.

[2017-01-05 00:25] ethankhall commented on #69
Awesome thanks, I'll take a look at whats going on.

[2017-01-05 02:28] derenrich commented on #25
It seems like implementing this here would entail:

1. support conda packages in pivy importer
2. support conda envs in addition to pip envs (configure which you want)
3. support installing conda packages to said envs

Maybe in a perfect world it would also do some magic to setup/download miniconda for you. Thoughts?

[2017-01-05 02:38] derenrich opened #98 "Build Wheels"
It'd be nice if pygradle could produce wheels. Similar to #78

Would you accept PRs to accomplish this?

[2017-01-05 03:36] derenrich opened #99 "Remove the need for the "replace" functionality in pivy"
Seems like we shouldn't require end-users to use the replace functionality. Being explicit can be good in some cases but just automatically picking the newest version that satisfies the requirement would be nice.

It's really bad UX to constantly have to tell pivy "yeah there is no version 1.0.0, just use version 1.1.0".

[2017-01-05 15:51] sholsapp commented on #98
We're working on this too.

We've found the tricky part to adding first class wheel support (as well as egg support, or any other binary distribution format) is how to cleanly take care of dependency management. Eg., how do you declare a dependency on the wheel flavor of the dependency instead of the sdist? Can you depend on both? With a binary format, another thing we have to worry about is os/ar

[2017-01-05 18:06] sixninetynine commented on #25
cc @teoliphant since Travis spoke to us about this at PyCon 2016

I'm not sure anyone on the team has enough experience with Conda to know the ins and outs of what would be required to integrate it, though from what I can tell it would be a somewhat large effort _depending_ on how deeply you wanted to integrate (since {py}gradle makes some asumptions about tools like `virtualenv`, `pip`, `pex`, et

[2017-01-06 20:49] JLLeitschuh opened #100 "Install Tasks runs every time"
It seems like this plugin doesn't take advantage of gradle's incremental build system very well.

Even when there have been no changes to the list of dependencies the plugin seems to consistently install dependencies that were loaded by the last build.

[code]

[2017-01-06 21:02] JLLeitschuh commented on #100
After running with the `--debug` flag I think I see the reason:
<pre>
15:57:48.904 [DEBUG] [org.gradle.internal.operations.DefaultBuildOperationWorkerRegistry] Worker root.25 started (4 in use).
15:57:48.904 [INFO] [org.gradle.execution.taskgraph.AbstractTaskPlanExecutor] :PlexxiCorePythonAPI:installSetupRequirements (Thread[Daemon worker Thread 33,5,main]) started.
15:57:48.904 [DEBUG] [org.gradl

[2017-01-06 21:09] JLLeitschuh commented on #100
I think that its the `PipInstallTask` that needs to be updated to have at least one output.

Offtopic: Issue 100! :D

[2017-01-06 21:41] JLLeitschuh opened #101 "PythonDetails is not serializable"
`PythonDetails` implements `Serializable` but it takes a `Project` that is not serializable.

If you try to make it so that the `PipInstallTask` gets cached you get an exception that it can't be

[code]

The solution would be to mark the `Project` field in `PipInstallTask` as transient.

[2017-01-14 15:33] dsully commented on #93
@zvezdan @ethankhall - any thoughts here?

[2017-01-14 15:44] ethankhall commented on #93
Sorry @scphantm I thought I responded to you when this was created. I don't think that will work. To get Sphinx to work you'll have to build a venv and install all of the dependencies. You could make it install a few less dependencies but I don't know that will get the improvement your looking for.

An alternative is to build a sphinx pex that you distribute to your users (maybe as something they

[2017-01-18 05:42] scphantm commented on #93
That sucks.  I like the idea of a pex (if it works on windows) recommend any articles for me before I hit google?

On a related note, what happens if you execute pygradle on a machine that doesn't have python installed at all?  Does it blow up or pull python from the dm?

[2017-01-18 06:41] sixninetynine commented on #93
[pex](https://pex.readthedocs.io/en/stable/) [doesn't officially support windows](https://github.com/pantsbuild/pex/issues/297#issuecomment-244172230), though I have seem PRs on github adding support and fixing things here and there

[2017-01-18 16:38] ethankhall commented on #93
If python isn't avaliable it will blow up on integ tests. The unit tests _should_ work.

[2017-01-18 16:54] scphantm commented on #93
Ok, so if integ tests will fail that means that real life will fail.  I have about 2000 developer and testing machines this needs to get pushed too so i need to figure out what desktop is going to need is all

[2017-01-20 09:15] kevinbader commented on #69
Same here..

[code]

Same error using both the Windows cmd and the git bash (cygwin):

[code]

Thanks!

[2017-01-24 00:43] ethankhall commented on #100
Looks like colorama and pytz are being installed at different versions for different configurations.

We don't use the Gradle cache for that task, but we do validate that we don't install something if it's already there.

[2017-01-24 11:57] blankdots opened #107 "pivy-importer: local repository could not find artifact ... under different name"
I am having a issue with creating a specific artifact in the local repository, namely swagger-spec-validator.
Create the artifact using `java -jar /var/lib/pivy-importer-0.3.39-all.jar --repo /data swagger-spec-validator:2.0.2`, it adds it however under a different artifact name than the one specified in the .ivy file below.

[code]
It is under the name: `swagger_spec_validator-2.0.2.tar.gz`. Chan

[2017-01-24 14:30] scphantm opened #108 "Repository format"
I see not really a problem but a serious limiting factor.  The repository format is a fixed ivy format.  I don't understand the need for a custom layout on the ivy repo, but there it is.  Here's where its going to bite the project

* Sonatype Nexus (the biggest repo manager out there) has no direct support for Ivy.  All its Ivy support is done thru Maven2 compatibility.
* Nexus does not support cu

[2017-01-24 15:51] scphantm commented on #100
Good eyes.  Thats exactly what im seeing.  Shouldn't gradle's dependency resolution automatically pick the latest version or are these really two different configurations?  I would think each configuration would have their own venv tho, thats kinda the point of configurations, to break the project up into modules.

[2017-01-25 03:28] ethankhall commented on #108
We recommend Ivy because it has some nice features (like configurations) that Maven doesn't have. But there should be nothing that limits you from using Maven too. Have you seen an issue with Maven?

[2017-01-25 03:30] ethankhall commented on #107
This seems like a bug. The artifact should be renamed to match what the ivy file suggests. I don't think this is something we'll get to soon, but if you're willing to take a stab at it, I'de be more than happy to point you in the right direction / review the PR.

[2017-01-25 11:54] scphantm commented on #108
I haven't tried yet, i just see the format you specify is different than standard and my pro version of artifactory has been tied up in funding and procurement for over a year.  The big thing is i see that layout hard coded in both pivy and the plugin itself.  I'm not sure i can replicate that layout with the tools i have at hand.

[2017-01-25 13:39] blankdots commented on #107
@ethankhall It would help if you can point me where to look and I will take a stab at it.

[2017-01-26 06:19] zvezdan commented on #96
This happens because the Ivy files do not have the information about the conditional dependencies.
The Python package metadata (when you install in virtualenv) contain the info about `functools32` that limits it to be used with Python 2.7 only (environment markers).

We have solved this internally at LinkedIn last summer. We are able to build libraries that: (a) declare support for multiple versio

[2017-01-26 06:58] blankdots commented on #96
@zvezdan thank you for the answer.
I was thinking more and more of seting up my own artifact repository as I have issues with several dependencies, some which are as wheels and I know there is an open issue about that https://github.com/linkedin/pygradle/issues/46
Meanwhile I was able to built it using the following Gradle construct:
[code]
There are still some issues which I was not able (a.k.a.

[2017-01-27 13:42] blankdots commented on #96
Closing this as I think it addressed the main question.

[2017-01-27 13:42] #96 closed

[2017-02-01 17:03] ethankhall commented on #101
This should be fixed now with 0.4.1 release. Would you be able to try it and see if it works for you?

[2017-02-01 17:04] ethankhall commented on #92
With was done in #104 I believe.

[2017-02-01 17:04] #92 closed

[2017-02-01 17:05] ethankhall commented on #68
Closing due to inactivity. If you have more details please re-open.

[2017-02-01 17:05] #68 closed

[2017-02-01 17:10] ethankhall commented on #107
You'll want to look around https://github.com/linkedin/pygradle/blob/master/pivy-importer/src/main/groovy/com/linkedin/python/importer/deps/DependencyDownloader.groovy#L67
I would look at changing DependencyDownloader#downloadArtifact to have a path to download to vs a directory to put it into.

[2017-02-01 17:41] JLLeitschuh commented on #101
I'll test this out when I next get a chance.

[2017-02-01 17:49] ethankhall commented on #101
Awesome thanks!

[2017-02-01 21:44] bostone opened #111 "Using the official PyPi repo"
I'm trying to define dependency that is not in the demo repo pyGradlePyPi(). I can't find anywhere in the documentation how to reference the official pypi.python.org repo and also if it's possible to reference Artifactory-hosted PyPi repo? Can anyone provide a hint?

[2017-02-03 16:39] bostone commented on #111
Anyone? I'm about to give up on pygradle altogether

[2017-02-03 17:14] sholsapp commented on #111
From https://github.com/linkedin/pygradle#pypi-artifacts...

... because PyPI currently doesn't host the Ivy metadata that Gradle needs to do proper dependency resolution.

From the same document, there is a link to read more about how to use the import tool that we provide to generate that Ivy metadata. You can configure your own Artifactory-hosted PyPI and use the import tool to generate and pub

[2017-02-03 17:20] bostone commented on #111
Thanks, I was actually reading those realizing that you guys should probably emphasize it better when I got your message. We do have internal Artifactory-pro that can host both Ivy and PyPi repos. I'm just not clear how to proceed? Right now I only need PyYAML library which is not in our Artifactory. I think example of setting up Artifactory-hosted PyPi would be extremely nice

-Bo

[2017-02-03 17:24] sixninetynine commented on #111
@sholsapp we should create a few examples of how to set up a local pypi mirror (a.k.a. vendoring to disk (a la https://github.com/linkedin/pygradle/blob/master/examples/iris-classification/build.gradle#L30-L36) and also some instructions on using artifactory and/or bintray.

[2017-02-03 17:25] bostone commented on #111
I'm also thinking of adding Java nature to my gradle project to obtain pivy-importer dynamically and adding task that would run a jar and create a local repo. People who would use my code would be highly annoyed with idea of getting the jar and creating the repo manually. Any thoughts?

-Bo

[2017-02-03 17:25] sholsapp commented on #111
Okay, will do, that's easy to document. We also could do a quick walk through of how we setup our Artifactory and run our import tool to get someone up and running quickly.

[2017-02-03 17:26] sixninetynine commented on #111
I think it would be valuable to provide some automation (either a script or perhaps a gradle task) around creating per-project bintray repos! That way someone could wire in the repo with their project and not have to worry about bootstrapping consumers.

[2017-02-03 17:27] bostone commented on #111
BTW - if you want to get credit and help more people I have a [Stackoverflow question](http://stackoverflow.com/questions/41989587/using-pypi-official-repo-with-pygradle) for this

[2017-02-03 20:59] bostone opened #112 "Running pivy-importer fails on Mac"
I attempted to run pivy-importer on my MacBook Pro 2015, Siera v. 10.12.3, Java 1.8.0_112 and ended up with this error

[code]

[2017-02-03 21:56] bostone commented on #112
Ok, figured it out. Had to extend command line by adding these 2 to "--replace" flag:
`chardet:2.2=chardet:2.3.0,setuptools:0.6a2=setuptools:34.1.1`
But where that list is coming from? Is it hardcoded or is it red from somewhere? The former would be really unfortunate

[2017-02-03 22:06] bostone commented on #112
And why this is not pulling PyYAML lib? In fact - who and how determines which libraries to pull? I see a rather short list of stuff which is for most parts is useless to me. What am I missing? Here's my command:
`java -jar pivy-importer-0.4.1-all.jar --repo ~/tmp/ virtualenv:15.0.1 pip:7.1.2 --replace alabaster:0.7=alabaster:0.7.1,pytz:0a=pytz:2016.4,Babel:0.8=Babel:1.0,sphinx_rtd_theme:0.1=sphin

[2017-02-03 23:02] zvezdan commented on #112
@bostone The pyvi-importer is just an example to get people started quickly and provides just the packages that were needed for our CI runs triggered by commits here.

Internally, at LinkedIn, we have a Python product that uploads external packages into our artifactory + Ivy files created by analyzing the dependencies. Thus, when our developers need a new package, we can easily get it (and its tra

[2017-02-04 02:31] bostone commented on #112
For project that advertise itself as dependency resolution solution I found it strange that I have to jump over multiple hoops just to import a single library. It's not a critique but rather an observation. I really think this needs to be described in more details right away so not to build false expectation. In my personal opinion this project can only really take off if it provides easy way of p

[2017-02-04 03:52] zvezdan commented on #112
@bostone Some users have successfully used pyvi-importer for their projects. See for example the contribution from our user: https://github.com/linkedin/pygradle/tree/master/examples/iris-classification

We are open to suggestions and are working with the users to improve documentation and resolution of the pain points. We'll definitely look into providing our Python tool in some form to the commu

[2017-02-04 03:59] bostone commented on #112
Love that I'm getting response from you guys. The initial setup was really easy and impressive until I hit the wall with one simple dependency. I think at this point this is a weakest link. Naturally, I was really disappointed that I cannot easily import from PyPi. How about adding automation that behind the scenes sets local ivy repo and pulls dependencies from PyPi based on what user specifies i

[2017-02-04 06:38] sixninetynine commented on #112
Not far-fetched at all! Our internal tool runs a process very similar to this :)

[2017-02-07 17:44] bostone commented on #112
@sixninetynine I forked the project and am working on externalizing list of "packagesToInclude" for pivy-importer. Here's question for you. From the hardcoded list which packages are actually required for pygradle build to work. I'm guessing anything related to virtualenv, pip, setuptools, flake8, pytest, wheel. But what about the rest? I much rather keep the default list and append the dependenci

[2017-02-07 18:27] bostone commented on #111
Any progress on this? Meanwhile I managed to use python-sdist to generate an egg (a wheel?). Can you guys tell me how to install it into the Artifactory-hosted PyPi. The instructions I have tell me to do `python setup.py sdist upload -r local` but when I execute that from the top of my gradle project I get UNKNOWN-0.0.0.tar.gz created (and pushed) which actually does include all the correct files

[2017-02-11 23:31] scphantm opened #116 "build warnings when compiling pygradle"
these warnings come up every time you compile pygradle

[code]

[2017-02-16 10:51] IvanAtanasov commented on #72
Doesn't it make sense to set the shebang as suggested?

I want the pex file to run using the same version of python as it was build on but not necessarily on a python interpreter in the exact same location.

Using '#!/usr/bin/env python3.3' would achieve this.

Could there possibly be an option to set a custom shebang for a pex file?

[2017-02-16 16:00] nimish commented on #111
This is basically a showstopper -- is there a way to dynamically generate the ivy files on each build? I would really not want to run my own repo...

[2017-02-16 16:32] bostone commented on #111
@nimish Unless you decide to code it yourself I understand that there's nothing like that at this point (at least publicly). For my much simpler case I just ended up calling Python commands from Gradle. Something like this:

[code]

[2017-02-17 16:35] nimish commented on #111
@bostone I'm more interested in resolving PyPI artifacts than publishing mine to an internal PyPI repo and it looks like the gradle folks need help to extend the repo handling: https://github.com/gradle/gradle/issues/1400

This, ideally, would obviate the need to generate ivy metadata...

[2017-02-23 03:42] scphantm opened #117 "Refactoring uncovered conditional task operations"
I began the code intended to split the sphinx functionality off into its own plugin.  The spaghetti code in this thing was driving me insane so I decided to just go ahead and convert the plugin classes to a far easier to read and manage style.  I wanted to make sure that i didn't change the functions of a task in the process of my refactoring so i setup a big array of tests that check the task gra

[2017-03-03 06:47] blankdots opened #122 "Upgrading from 0.4.1 to 0.4.5 pex issue no module named ..."
First of all thanks for PyGradle, been using it successfully for the past few months. I also kept a close eye on new releases, which brings me to the issue I encountered.

While trying to build a CLI python app using the pygradle `com.linkedin.python-cli` plugin 0.4.5 version, I noticed that it stopped working. I mean  stopped working  because building with version 0.4.1 it still works.

To replic

[2017-03-03 23:45] ethankhall commented on #122
@blankdots thanks for the report!

@zvezdan i think we should roll back to using 7.1.2, what do you think? / Do you have other options?

[2017-03-04 01:34] zvezdan commented on #122
@ethankhall I was not even aware that it was bumped to 9.0.1.
Please do revert.
As you know I'm testing various updates internally right now.
When we have a known good set I'll update here too.

[2017-03-07 21:54] schakrava opened #125 "Docs don't get rebuilt when changes are made to docs/*.rst files"
SphinxDocumentationTask (buildDocs) stays up-to-date even after edits to docs/*.rst files. This this because docs directory is not part of the inputs.

[2017-03-07 22:03] #122 closed

[2017-03-07 23:35] #125 closed

[2017-03-08 23:11] sundaymtn opened #127 "main project's wheel not being added to distribution or pex"
I have a pygradle project that builds/tests/runs successfully on linux but when I build it on windows the build/wheel-cache contains my main module's .whl and other dependent .whl's but the build/pex-cache never gets my module despite getting the others.  I think that's why the deployable reports an import error when calling them.
[code]
 If I open the distribution I can see that my git_extend .wh

[2017-03-22 10:10] jamesw966 opened #129 ""Unable to locate finder for 'pip._vendor.distlib'" in Python 3.6"
I'm on Windows, using Python 3.6 and PyGradle 0.4.7. When I run `gradlew build` I get the following error:

[code]

According to https://github.com/pypa/pip/issues/3964 this was fixed in pip 9.0.1, so it may be worth updating the version from 7.1.2.

[2017-03-22 18:29] zvezdan commented on #129
To use Python 3.6 we need to update virtualenv, pip, pex, ...
That causes some issues with older packages though.
We're looking at this and testing the best combination of versions internally.
Thank you for reporting.

[2017-05-02 19:55] AJFeather opened #130 "Example project failing at build"
This appears to be a similar issue to https://github.com/linkedin/pygradle/issues/42, but I checked the setup.py file and the bottom section was commented out as suggested in that post.

[code]

[2017-05-02 20:53] sixninetynine commented on #130
Hi @AJFeather do you mean that it was _not_ commented out? After running `./gradlew generateSetupPy` you get a `setup.py` file that has the call to `setup` commented out. In order to build your python project these lines should _not_ be commented out.

Running `./gradlew build` worked fine for me. Are you running `./gradlew build` inside the `example-project` directory (it won't work from the root

[2017-05-02 21:58] AJFeather commented on #130
Well, this is rather embarrassing. I guess I misread that. It's working now.

[2017-05-02 21:58] #130 closed

[2017-05-10 21:20] dnozay opened #132 "java.lang.ArrayIndexOutOfBoundsException in com.linkedin.gradle.python.util.PexFileUtil.pipFreeze"
My gradle build is failing regularly due to:
[code]

When I run `pip freeze` locally I get:
[code]

It doesn't like that.

[2017-05-10 21:22] dnozay commented on #132
[code]

[2017-05-10 23:01] zvezdan commented on #132
What version of pip are you running there @dnozay?

[2017-05-10 23:31] ethankhall commented on #132
_Personal Opinion Following_

Installing things as editable has issues in general. It's not a very good test to integrations since you won't validate versions that would be used leading to strange issues. You should look into doing [composite builds](https://docs.gradle.org/current/userguide/composite_builds.html) to make it easier to do one build and validate everything.

[2017-05-11 21:47] dnozay commented on #132
@zvezdan, a forked version of pip 7.1.2.
@ethankhall, it is a single python project, which builds a pex file, and the thing installed as editable is in fact the python project being built.

Based on some side-channel conversation, it could be that the tasks dependencies are set incorrectly, so I am going to try that next. It doesn't change the fact that `pip freeze` can have exotic output based on

[2017-05-11 21:50] zvezdan commented on #132
@dnozay I'd like to confirm that pip version. I know that higher versions can do that and wonder if you somehow got a higher version in there. Let's sync offline.

[2017-05-15 21:04] dnozay commented on #132
@zvezdan

`TASK_INSTALL_PROJECT` does install the package in editable mode.
https://github.com/linkedin/pygradle/blob/c1d81a701b245c9ac41f65765fb56c58326d6e0d/pygradle-plugin/src/main/groovy/com/linkedin/gradle/python/plugin/PythonPlugin.groovy#L196-L202

[2017-05-15 23:45] zvezdan commented on #132
Sure. And it works for our builds.
I suggest we sync offline and see what is your actual issue.

[2017-05-23 16:21] kdsinger opened #134 "uploadArchive task does not get version from build.gradle"
First of all thanks for build this plugin, I really appreciate it.

I am having trouble getting the uploadArchives task to correctly identify the version. The sdist is built correctly with the version specified in the build.gradle file, but the upload always pulls the unspecified version when uploading the sdist package into artifactory.

Thanks for your help

[2017-05-23 16:32] schakrava opened #135 "PipInstallTask should always install SNAPSHOT versions"
Since we use gradle's inputs/outputs to determine if some package must be pip installed(or upgraded), we should use --upgrade flag to turn off pip's check which is only based on the version

This is helpful on incremental builds where we are updating snapshots/same-versions of dependencies. In such case, gradle runs the pip install task as expected, but pip thinks the dependency is already satisfi

[2017-05-23 18:45] zvezdan commented on #135
I believe we should not force `--upgrade` for every package, but we can do it for SNAPSHOT versions only. That makes sense for the snapshot usage pattern.

It's quite unfortunate that the snapshot use as done with Gradle is violating a long-time accepted rule that different code should have a different version number. Thus, traditionally, we'd have `a1`, `a2`, etc. for each new change in the `alph

[2017-05-26 18:41] zvezdan commented on #132
Fixed in https://github.com/linkedin/pygradle/pull/136

[2017-05-26 18:41] #132 closed

[2017-05-26 18:49] zvezdan commented on #127
This happens if you use pip-9.x.
Resolved in https://github.com/linkedin/pygradle/pull/136
Released as 0.5.2

[2017-05-26 18:50] #127 closed

[2017-05-31 23:34] leareth123 opened #137 "pivy importer fails on 'requests' module"
Was trying to pull down the requests module as a proof of concept. Not sure what it's not finding.

idna:2.0.0=idna:2.5
alabaster:0.7=alabaster:0.7.1
16:24:23.719 INFO  c.l.p.i.deps.DependencyDownloader - Pulling in requests:2.17.3
16:24:24.970 INFO  c.l.p.i.deps.DependencyDownloader - Pulling in chardet:3.0.2
16:24:25.500 INFO  c.l.p.i.deps.DependencyDownloader - Pulling in idna:2.5
16:24:25.560

[2017-06-01 02:29] zvezdan commented on #137
Unfortunately, pivy-importer is not ideal. It was meant simply as a sample of artifactory usage for Gradle. It has its share of incomplete behavior and here it was hit by an interesting specification inside the `stevedore` Python package, where it simply didn't parse the requirements correctly.

We're working on some pygradle changes that need to be pushed and we cannot do that until pivy-importer

[2017-06-03 04:06] zvezdan commented on #137
It was failing on `stevedore` package because of `!=` condition.
The PR #138 should fix it and allow us to commit more improvements and updates.

[2017-06-04 23:58] zvezdan commented on #137
Fixed in version 0.5.3.
Closing the issue.

[2017-06-04 23:58] #137 closed

[2017-06-08 12:00] nabadger opened #143 "ckst"

[2017-06-08 14:40] #143 closed

[2017-06-13 06:55] r02b opened #144 "Project dependencies"
I couldn't find any examples containing project dependency. For example, given project A that is compiled into a Python module Alpha, and a project B that is dependent on the Alpha module, how do I go about defining it in the build.gradle file?

I tried "normal" Gradle project dependency, but that does not install the Alpha module into the project B virtual environment when building.

Thanks!

[2017-06-13 07:24] slim-shah commented on #129
Hi there, i m having same problem . I want to upgrade my pip but i am unable to do it moreover i am not able to install other library due to same error

[2017-06-16 02:56] zvezdan commented on #129
We've done a lot of work to adapt to the changes of setup, build, test requirements, such as virtualenv, setuptools, pip, and pex. The commits here prepared the ground for the upgrade I'm testing: #128, #133, #136, #138, #139, and #141.

I'll have a PR by tomorrow.

[2017-06-16 04:20] zvezdan commented on #129
Submitted #145 for review and merge.

[2017-06-16 15:19] ethankhall commented on #144
Can you post what you've tried? It should work (it won't install an editable, it will install an sdist). Can you also run `pip freeze` from B's activate and post it?

[2017-06-16 22:50] zvezdan commented on #129
Resolved in the release 0.6.1.
Please upgrade dependency on pygradle to that version.

[2017-06-16 22:50] #129 closed

[2017-06-16 22:53] zvezdan commented on #112
I fixed pyvi-importer behavior in #138.
Also added `--latest` option and `--pre` option to allow installation of the latest (highest) supported version of dependency and to allow pre-releases (alpha, beta, rc) which are disallowed by default in the new version.

Can you try using the latest version @bostone (0.6.1 was just released).

[2017-06-16 22:56] zvezdan commented on #112
Regarding the question what's required -- only the the dependencies we need for the build, and Flask + requests for our examples (we'll consider dropping these two). Otherwise, we bring the dependencies that particular Python project needs and specifies in its build.gradle file. The list is now quite minimal in 0.6.x.

[2017-06-16 23:15] zvezdan commented on #111
@nimish I am not sure this would obviate the need for Ivy metadata. We use Gradle for dependency resolution (its strength) and thus avoid version conflicts that are typical with python build tools. This is where Ivy helps. Once Gradle brings the artifacts (packages) into its cache, we let python build tools take over and finish the build. So, any kind of replacement would need to provide a similar

[2017-06-16 23:20] zvezdan commented on #99
@derenrich
We improved pivy-importer in #138.
I was able to upload some newer versions of dependencies using the new `--latest` option without specifying any replace packages.
We also disallow pre-releases now by default (alpha, beta, rc), but there's a `--pre` option to allow them if needed.
Does this satisfy your needs too?

[2017-06-19 12:41] r02b commented on #144
I'm afraid I'm away at a conference. Will update next week with full details. Thanks for replying!

[2017-06-21 02:50] derenrich commented on #99
Yeah

[2017-06-21 02:50] #99 closed

[2017-06-27 21:28] schakrava opened #147 "process arguments to pytest properly"
Currently arguments to pytest are passed before the py.test argument itself which results in an error

`gradle pytest --test-name foo` translates to `python -k foo py.test` it should instead execute `python py.test -k foo`

[2017-06-27 23:33] schakrava commented on #135
Thanks for your comments @zvezdan. I have updated the title of the issue. I think what we need is the `--ignore-installed` option for package names ending in `-SNAPSHOT`. PR on the way

[2017-06-29 00:11] #135 closed

[2017-07-14 00:49] fkorotkov commented on #41
I did also struggle with that. Created a quick tutorial on how to configure Python SDK for {py}gradle: https://medium.com/@fedor/setting-up-intellij-for-py-gradle-758770367858

[2017-07-20 10:08] scphantm opened #152 "Setuptools 32.1.+"
Well, i don't see anyone else asking so I'm going to ask.  Its obvious that you upgraded setuptools to 32.1.1 because in 32.1.2 they started distributing it as a zip file and pygradle gives a "Can't untar file" error.

Is this a pygradle issue or a python issue?  Any leads on how to fix it?

[2017-07-20 20:19] zvezdan commented on #152
PyGradle does **not** use setuptools-32.x.

PyGradle **before** 0.6.x used setuptools-19.1.1.
PyGradle-0.6.x pins setuptools at 33.1.1:

* https://github.com/linkedin/pygradle/blob/master/pygradle-plugin/src/main/groovy/com/linkedin/gradle/python/PythonExtension.groovy#L75
* https://github.com/linkedin/pygradle/blob/master/pivy-importer/build.gradle#L67

Also, PyGradle does not download other vers

[2017-07-20 20:23] scphantm commented on #152
im running a fork because i had to completely rebuild pivy to work on our network.  since we don't have python 2 in our enterprise anymore i upgraded the setuptools to 36 and got the error.  Whats going on is 33.1.1 is a tarball, but 33.1.2 on is a zip.  the pygradle tools pull down the zip properly and its in the cache folders correctly, but when it tries to pip, it trys to untar a zip file.  Im

[2017-07-20 20:31] scphantm commented on #152
wait, i see what you are saying, you are using the zip version too

WTF, i hate our network.  we have pypi actively blocked on our firewall so whenever distutils tries to resolve the setup_requires, test_requires, etc, and dist utils tries to hit pypi for the meta files, it blows up.  and i can't get distustils to recognize the pypirc file on windows.  so i completely rebuilt pivy to parse the set

[2017-07-21 22:27] #152 closed

[2017-07-26 01:26] scphantm opened #153 "could not find compatible interpreter"
I am working on a fork of pygradle on windows.  trying to do a fat pex, i keep getting the error

`Could not find compatible interpreter`

i have been debugging this for days and i narrowed it down to this command line.   I can paste this into a command prompt and get the same error.  The problem is i can't figure out why.

`C:\tmp\junit4200936403494470163\foo\build\venv\Scripts\python.exe C:\tmp\

[2017-07-26 01:43] scphantm commented on #153
i should note, that when i put the `-i <my artifactory server>` command in this i get the expected SSL errors (we run an internal CA server that python doesnt recognize, but as i am reading the docs, the command shouldn't have to hit pypi, it should have everything it needs in the wheel-cache folder right?

[2017-07-26 16:35] scphantm commented on #153
I figured this out and hit a wall at the same time.  First, the error was because it couldn't connect to the internet.  I was able to get thru that and rewrite a few things to hard code our internal artifactory server.  The wall, pex compiler doesn't work on windows 10 because you have to be an admin to create symlinks on win10.

[2017-07-27 22:15] #147 closed

[2017-07-31 22:29] schakrava opened #154 "buildPex should pin versions strictly"
Currently, when pex is created, requirements are given only as names, versus name==version for each requirement. This doesn't pick the right version of a wheel if a dependency is downgraded prior to an incremental build. We should pass versions of requirements to make builds consistent.

[2017-08-10 18:30] schakrava opened #158 "Install product requirements after test requirements"
Currently we install test requirements after product requirements. If a same dependency is declared in both, but versions are different, the version in test requirements wins. Flip the order to make sure product requirements take precedence.

[2017-08-14 22:26] #158 closed

[2017-08-24 18:39] warsaw opened #161 "Update CI Python versions"
There seems to be some inconsistencies in the versions of Python tested against in the various CI integrations.  From the looks of it:

* Appveyor is testing Python 2.7, 3.3, and 3.4
* Circle Is testing 2.6.8, 2.7.9, 3.4.3, and 3.5.0
* I can't tell what's being tested on Travis
* None are testing Python 3.6

I might be totally misunderstanding how these are set up, but some observations:

* Given

[2017-09-01 06:16] mangan77 opened #162 "Can't resolve plugin version 0.6.10"
Trying to apply the latest plugin version does not work. We tried both ways to apply the plugin, but no one work. The plugin simply can't be found:

`* What went wrong:
A problem occurred configuring root project 'XXXX'.

     Searched in the following locations:
         https://repo1.maven.org/maven2/gradle/plugin/com/linkedin/pygradle/pygradle-plugin/0.6.10/pygradle-plugin-0.6.10.pom
         h

[2017-09-01 09:57] dobe commented on #162
same here.

also - where can i find out which version is the current stable versions for the pygradle plugins?

[2017-09-01 10:55] mangan77 commented on #162
@dobe I would presume that the one listed in the plugins repo is the latest stable: https://plugins.gradle.org/plugin/com.linkedin.python

[2017-09-01 18:58] zsimic commented on #162
+1 I'm getting the exact same issue with the latest pygradle versions

[2017-09-01 19:13] zvezdan commented on #162
Sorry, we were not aware of this because we're using the plugins internally at LinkedIn without any issues. Moreover, the new versions of plugins are uploaded to the internal repo using an automated service and it worked fine.

We published all recent versions the same way we always used. We'll investigate if something had changed recently and needs to be done differently now.

In the meantime, yo

[2017-09-01 19:45] ethankhall commented on #162
We're working with Gradle Inc to figure out why this is happening. Will let you know when we've resolved it. Sorry for the inconvenience.

[2017-09-05 23:15] #162 closed

[2017-09-06 16:23] JLLeitschuh opened #164 "Make the pivy-importer a plugin you add to your buildSrc project"
Since the `pivy-importer` needs to run as a step before the repositories are resolved the only place that this can happen is as a step inside of your `buildSrc` project.

`pivy-importer` could be wrapped up as a gradle plugin so that it downloads dependencies when the `buildSrc` project is being built. This means that when you update your dependencies you don't need to make sure that every develop

[2017-09-12 02:07] zsimic commented on #158
Could we restore support for custom arguments to pass through to `py.test`?
The following does not work anymore with 0.6.11:

[code]

[2017-09-13 20:08] schakrava commented on #158
Hi @zsimic . I've renamed `extraArgs` to `additionalArguments`. Sorry for breaking your build, but could you change to:

[code]

[2017-09-13 20:16] schakrava opened #165 "warn when a resolved artifact is missing"
When collecting configuration-files/dependencies in post-order, print an explicit warning with the missing resolved artifact information. This helps the user pinpoint the reason why we fallback to sorted order.

[2017-09-13 21:24] zsimic commented on #158
Awesome, thanks a lot!
Yes indeed, I missed the new one somehow (I read the corresponding file, but missed this), thanks for pointing it out. It works great.

[2017-09-15 15:32] #165 closed

[2017-09-20 10:42] mjscosta commented on #25
There is a plugin that deals with conda, but probably wont integrate easily ...
https://github.com/JetBrains/gradle-python-envs

[2017-10-30 15:18] alexbruckner opened #169 "Cycler has wrong URL"
matplotlib has a dependency on cycler. but the URL is wrong:

https://linkedin.jfrog.io/linkedin/pypi-external/pypi/Cycler/0.10.0/Cycler-0.10.0.tar.gz is wanted.
https://linkedin.jfrog.io/linkedin/pypi-external/pypi/Cycler/0.10.0/cycler-0.10.0.tar.gz exists.

My guess it's just a typo. The correct filename should be Cycler-0.10.0.tar.gz

[2017-10-31 14:23] kopy07 commented on #169
@alexbruckner, Sorry about that. I've fixed the issue. Can you try again?

[2017-11-03 18:58] bmellish opened #170 "Newer versions of the sdist plugin do not resolve pytz properly"
When using com.linkedin.python-sdist > 0.4.9 the build always fails inside of installBuildRequirements with
[code]

[2017-11-03 19:15] zvezdan commented on #170
The latest versions pin Sphinx at 1.4.9 and your build is installing 1.4.1 according to the log above.
Are you perhaps pinning it at that version?

Did you try running a clean and then rebuild?
We do not see this in our builds.

[2017-11-03 21:30] bmellish commented on #170
This is a clean build, nothing is pinned.  This takes place inside of installBuildRequirements, so it is just doing the requirements for pygradle.  My project does not need python, and does not have docs.  In fact, I have tasks.packageDocs.enabled = false.  Kind of odd it still wants to pull down Sphinx.  Gradle version is 3.4.

[2017-11-03 22:29] zvezdan commented on #170
Again, how are you getting Sphinx-1.4.1 with the latest pygradle (0.6.14)?
We pin it at 1.4.9, so it's not clear how are you getting 1.4.1.
Can you provide some steps to try and reproduce this?
We cannot reproduce on our end.

Regarding `tasks.packageDocs.enabled = false`, that only disables the task for *building* docs. Using Sphinx is disabled with that setting. However, Sphinx is still a depend

[2017-11-04 00:03] bmellish commented on #170
Steps to reproduce:
1) Clone the pygradle project.
2) cd to the example-project folder.
3) Update the version number on sdist to 0.6.12 (which is the latest)
4) Follow README.

[2017-11-04 01:19] zvezdan commented on #170
I pushed 0.6.14 to plugins.gradle.org.
Thanks. We'll investigate and let you know.

[2017-11-24 19:05] vivekpathak commented on #111
Its even worse that not all pypi dependencies can be installed in the hackish way as recommended.  For example:

    java -jar pivy-importer-0.6.16-SNAPSHOT-all.jar  --repo /tmp/ivy-pypi-repo-cache  opencv-python:3.3.0.10
14:02:21.309 INFO  c.l.p.i.deps.DependencyDownloader - Pulling in opencv-python:3.3.0.10
    Exception in thread "main" java.lang.RuntimeException: Unable to find source dist for

[2017-11-27 21:03] zvezdan commented on #111
@vivekpathak I think this is not our fault. The package you referenced `opencv-python` does *not* provide the sdist (source distribution) on PyPI: https://pypi.python.org/pypi/opencv-python/3.3.0.10
Please file the issue with the owners of that package. Package owners should know better and *always* publish an sdist on PyPI (`*.tar.gz` file).

On a side note, the workaround that the author of iris

[2017-12-06 14:18] gcscaglia opened #173 "python-pex - Usage example?"
Currently there is no usage example for python-pex plugin.

I've being trying to use it without success; A `./gradlew build` outputs the following error:

[code]

Since there is no info on google or issue here about this message I assume this is a configuration problem rather than a bug. But I'm unable to troubleshot this any further without help; I'm willing to submit a PR with an fully working e

[2017-12-13 05:34] solidatyoungdevdotnet opened #175 "my unit tests are not being run"
Everytime I try to run my build, the python code (all of it, both class and test class) gets compiled.  I know this because if I introduce a syntax error into either the class or the test, the build will fail with a compile error.  My "production" python classes are stored in src/main/python and my test classes are in src/test/python (they will fail the build if there is an error on a python file

[2017-12-15 01:28] zvezdan commented on #175
It seems that your code is structured in the way that Java code is usually structured in Gradle projects (src/main/java). However, the pygradle Python projects are expected to be structured as a standard Python package -- so Python developers can release them easily publicly and work in a code structure they learned to expect.

If you look into our examples/example-project directory here, you'll s

[2017-12-15 01:50] zvezdan commented on #173
That's because we need a version to produce the deployable artifact.
Simply add `version = '0.0.1'` below the applied plugin in _build.gradle_ and it will work. :-)

We also recommend using `python-cli` plugin, instead of plain `python-pex`.
The pex plugin is the engine under the hood of all other plugins that produce deployable artifacts (cli, web-app, ...), but is rarely used in its direct form.

[2017-12-24 18:49] KIC opened #177 "pivy-importer get confused with - and _ symbols"
running this command: `java -jar pivy-importer-0.6.17-all.jar --repo ./lib/pip/ plotly:2.2.3 dash:0.19.0 dash-renderer:0.11.1 dash-html-components:0.8.0 dash-core-components:0.15.2 --replace "Babel:0.8=Babel:1.3"` will result in a missing dependency.

[code]

But in fact the files are there just not with a - but with an _

[code]
renaming the file does solve the problem.

PS I am wondering why piv

[2017-12-25 00:31] urisun commented on #111
I am trying to use pygradle with my own artifactory server and i created a pypi repo in that server. But there is no ivy metadata. Is there a way to use pivy-importer to generate ivy-metadata and push it to server?

Basically i am looking for the missing link specified by sholsapp in this comment "... we cannot use pypi directly.

... because PyPI currently doesn't host the Ivy metadata that Gradl

[2017-12-29 21:40] aedancullen opened #178 "Wheel dependencies with pivy-importer not supported yet?"
Try running:

`java -jar pivy-importer-0.3.16-all.jar --repo repo opencv-python:3.4.0.12`

(opencv-python on PyPI has only .whl files available, not .tar.gz or .zip)
and observe:

`Exception in thread "main" java.lang.NullPointerException: Cannot get property 'url' on null object
	at org.codehaus.groovy.runtime.NullObject.getProperty(NullObject.java:60)
	at org.codehaus.groovy.runtime.InvokerHelpe

[2018-01-05 20:11] augray commented on #108
I'm evaluating pygradle as an option for our build. Just want to clarify-- as it stands now, is Artifactory pro required (assuming you want to pull/push artifacts somewhere other than to/from [LI's instance](https://linkedin.jfrog.io/linkedin/webapp/#/artifacts/browse/tree/General/pypi-external)?

[2018-01-05 21:07] kopy07 commented on #108
No it isn't. Artifactory isn't required at all. What is required is a way to serve Ivy files (Maven POM's should work, but are no tested). There are a few options:
- Artifactory OSS
- Bintray
- Nexus (https://www.sonatype.com/nexus-repository-sonatype)
- FTP Server
- S3
- HTTP server
- Google Cloud Storage

But it comes down to if it can be expressed by https://docs.gradle.org/current/userguide/de

[2018-01-06 00:47] augray commented on #98
+1

[2018-01-06 01:06] augray commented on #98
For the os/arch question, how about using a [gradle.properties](https://docs.gradle.org/current/userguide/build_environment.html#sec:gradle_properties_and_system_properties) to specify what your os/arch are?

For expressing dependencies, would it be possible to allow a way to optionally use an [extension object (like in example 41.2)](https://docs.gradle.org/current/userguide/custom_plugins.html#s

[2018-01-09 16:55] prachetaa opened #179 "Running integTests in pygradle-plugin directory modifies python libraries and causes python startup to fail"
Python is installed via brew (python2.7) and python binary is used from /usr/local/Cellar/python/2.7.14_2/Frameworks/Python.framework/Versions/2.7/lib/python2.7

pygradle-plugin$ python
Python 2.7.14 (default, Jan  6 2018, 12:16:16)
[GCC 4.2.1 Compatible Apple LLVM 9.0.0 (clang-900.0.39.2)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

drwxr-xr-x  127 <user>  ad

[2018-01-09 20:11] prachetaa commented on #179
I was able to triage it further to get to the root cause:

So for the tests, a temporary folder is created using Junit via DefaultProjectLayoutRule.groovy. The virtualenv is created in the temporary folder and we see the below:

/private/var/folders/z_/k8__6n_d10s6zd775lq749vh0000gr/T/junit2069112546178614649/foo/build/venv/lib/python3.6   <---- the temporary folder created for the test, and looki

[2018-01-10 00:17] zvezdan commented on #179
@prachetaa Can you check what version of Gradle you are running when this happens.
There was at least one release of Gradle 2.x that had this issues (the cleanup would resolve the symlinks and wipe things under them erroneously). We were less affected by it internally, because it didn't have permission to remove Python files owned by a root. In your case, I suspect the files are owned by you since

[2018-01-10 01:03] prachetaa commented on #179
Yeah, this is definitely due to the fact that the python installed is owned by me rather than root as it was installed with brew.

I am using Gradle 4.2. I do not believe the issue is due to gradle, this happens only while running integTests of pygradle-plugin and not while using pygradle. So it looks like the issue is with JUnit wiping out the TemporaryFolder that was created and the symlinks to

[2018-01-10 01:08] zvezdan commented on #179
OK. If you didn't use Gradle 2.x then we need to take a look at this.
Thanks for posting the workaround.
We'll resolve this issue when we apply the fix or let you know if we find any other root cause for this.

[2018-01-10 19:16] kopy07 commented on #179
Nice find!

@prachetaa would you be willing to make a PR for this and we'll pull it in?

[2018-01-15 18:30] jaredsburrows opened #180 "Travis CI caching"
How to prevent Travis CI from downloading setup dependencies each time?

## After Gradle clean:
[code]

## Possibly?
[code]

[2018-01-18 19:31] warsaw opened #181 "Support for mypy"
I have a Python 3 project which uses type annotations.  I wanted to be able to run mypy over my code as a standard code quality check.  @ethankhall and @zvezdan helped me add some code to my `build.gradle` file to make this happen, and I've been happy with it so far.  I'm not sure of the best way to integrated this into pygradle by default, so for now I'll open this ticket and include the code inl

[2018-01-18 19:36] warsaw opened #182 "Run coverage with `term-missing`"
I really like the `term-missing` coverage report.  It produces a helpful block like so:

[code]

Thus, I have immediate feedback on how well my project's test suite covers the code.  Note that I do include

[code]

in my `coverage.ini` file.  I also like always running the coverage task during my normal testing.  Here's what I added to my `build.gradle` file to make this happen (FWIW, I prefer `co

[2018-01-28 14:38] 030 opened #183 "Is it possible to set a minimum Python version in Pygradle?"
https://devops.stackexchange.com/q/3150/210

[2018-01-28 14:38] 030 opened #184 "Is it possible to define a minimum code coverage using Pygradle?"
https://devops.stackexchange.com/questions/3152/is-it-possible-to-define-a-minimum-code-coverage-using-pygradle

[2018-02-01 01:31] qlan2 opened #186 "Support for pulling "bdist_wheel" into ivy format"
It seems currently pivy-importer only supports to pull "sdist" format for PyPI, and now wheels is getting more and more popular and useful. Could you guys also support to pull wheels packages locally into an Ivy format as well? That would be very helpful! Thanks!

[2018-02-01 13:34] Kindrat opened #187 "pivy-importer does not support 'Environment Markers'"
http://legacy.python.org/dev/peps/pep-0496/ defines additional markers for requirements.

Example in tensorflow-tensorboard-1.5.0
[code]

In this case SourceDistPackage fails with `new RuntimeException("Unrecognizable package version condition ${condition}")`

The problem is in line split logic - it does not check for additional markers and get package version as `3.1.1;python_version` for `future

[2018-02-11 11:09] 030 opened #190 "Does pygradle use the requirements.txt"
If I run my app locally it works fine, but if it is run by pygradle it indicates that some modules cannot be found.

[2018-02-13 00:05] zvezdan commented on #190
No. The dependencies need to be specified in build.gradle. See the examples directory, please.

[2018-02-21 21:17] Kindrat opened #192 "Nexus PyPi repositories support"
Basically, that's not a feature request - rather a success story. Don't know if dirty hacks, used to add Nexus support are worth adding to upstream, so wanted to describe everything first.

**Original task**
Build and deploy tensorflow-based artifacts with Gradle

**Problems:**
- [Broken PyPi packages] packages with unresolvable/missing/incorrect dependencies (most scientific related)
- [Missing s

[2018-02-21 21:27] #187 closed

[2018-02-23 22:32] Kindrat commented on #192
Created pull request for twine `ivy` extension https://github.com/pypa/twine/pull/300. Even if it would be rejected, you can still get my patch there

[2018-03-01 15:26] Kindrat commented on #192
@kopy07 Is this worth another pull request? I mean new plugin for nexus support

[2018-03-01 15:31] Kindrat commented on #111
What if `whl` would be allowed if some platform type is specified via plugin properties? So when there is no `sdist` artifact `whl` could be used directly.

[2018-03-01 17:06] kopy07 commented on #192
Hey @Kindrat,

Cool investigation! You would also probably do
```((ProjectInternal)project).getServices().get(BaseRepositoryFactory.class)``` to get access to the `BaseRepositoryFactory` class.

If you want to open a PR I'll review it and we can get it in, let's try to making it java as much as possible (trying to kill the main groovy code). Defining the repo can't be done in java as far as I know

[2018-03-01 17:22] Kindrat commented on #192
Working on upload task for it now. Will try to migrate to java.

[2018-03-02 12:29] vivekpathak commented on #111
Yes - indeed it is not a pygradle problem.  In fact if you try to build a pex via pants you get a similar problem.

After some thinking I realized that pants/pex and by consequence pygradle is not equivalent to standard packaging, say by making a wheel.   My workaround was to build a wheel - which is more of a first class packaging process being supported as part of python.

I would have liked to

[2018-03-14 22:10] chrisbrake commented on #170
I'm having this same issue as well.

[2018-03-20 16:40] ameliedagenais opened #203 "PyTest and Flake8 outputs not always visible in console"
**Problem**
Sometimes the `pytest` or `flake8` tasks fail with no output visible in the console, making it very hard to investigate issues.

**Repro Steps**

1. From the example-project provided in this repo, I added a few dummy tests
2. Run `gradle pytest --info`
3. Observe output, it will inconsistently return one or the other:

Expected:

[code]
Actual:

[code]

**Additionnal Info**
The issue i

[2018-03-20 18:40] ameliedagenais opened #204 "Bring back the PythonWheelDistributionPlugin"
It looks like the PythonWheelDistributionPlugin was removed from the latest version of Pygradle: https://github.com/linkedin/pygradle/commit/9ad8e104d8f47cd130f9ee82754a616080c714ac#diff-3150c245427f4dba770f943d6d924412L9. Can you guys bring it back? We would like to be able to publish wheel package artifacts for our projects and it used to just work by calling the `packageWheel` task. This task i

[2018-03-21 02:56] chrisbrake opened #205 "java.io.NotSerializableException: com.linkedin.gradle.python.util.OperatingSystem$Linux"
When I was trying to build some custom tasks around building virtual environments I discovered that if I declared outputs, the task would fail.

I've created a branch for reference, and reproduced the issue in the [example-project](https://github.com/chrisbrake/pygradle/tree/master/examples/example-project).

Here's a sample of what the error looks like
[code]
 To suppress the error, just comment

[2018-03-21 03:52] #190 closed

[2018-03-22 03:34] chrisbrake commented on #205
I was playing around with this, this evening.

I found I was able to resolve this by Removing the Input decorator from the [packageExcludeFilter attribute in PipInstallTask.groovy](https://github.com/linkedin/pygradle/blob/1a560da6d9f0b145c8c3bcc8c09a9cc119e608e6/pygradle-plugin/src/main/groovy/com/linkedin/gradle/python/tasks/PipInstallTask.groovy#L86), and also marking the [virtualEnvironment](h

[2018-03-22 18:32] kopy07 commented on #204
@ameliedagenais sorry about that! Would you also like a nice plugin name for the plugin so you could do `apply plugin: 'python-wheel-dist'`?

[2018-03-22 19:19] ameliedagenais commented on #204
@ethankhall Yes that would be nice! The documentation around this plugin and the WheelsFirstPlugin could also be updated.

[2018-03-22 20:06] kopy07 commented on #205
Nice find! I'm working on a PR right now. I should have it open in the next few hours for you to take a look at.

[2018-03-22 20:09] kopy07 commented on #204
Do you like the name, or do you have some other ideas for it?

Good point. I'll add some docs too. I'm not quite ready to promote it to "prod" (should be in the next week or so when I feel ready for that). Once that happens, it will get a nice name that you can apply vs using the class name.

If you have any other classes you're using as a FQDN let me know, and we can make them "public".

[2018-03-22 21:11] warsaw opened #207 "Add some useful placeholder substitutions for pex wrapper"
For an internal project, I have a better wrapper for thin pexes, but it requires two additional placeholders:

* `pythonExecutable` names the absolute path to the Python executable used in the pex shebang line
* `toolName` names the project/tool that is being built

I have a PR for this coming soon.

[2018-03-23 02:43] chrisbrake commented on #205
Thanks!
Just tested and confirmed the issue is resolved in your branch.

I'll close this issue and leave a comment on the PR.

[2018-03-23 02:43] #205 closed

[2018-03-23 17:38] #207 closed

[2018-03-23 23:54] ameliedagenais opened #210 "Latest version of PyGradle breaks Wheels dependencies"
With PyGradle 0.6.21, I used to be able to specify a wheel dependency in my build.gradle file like this:
[code]
Now, when I try to upgrade to PyGradle 0.7.7, I get this error:
[code]

[2018-03-26 16:19] ameliedagenais commented on #210
It seems like fixing the regex is enough to fix the issue. I'll submit a pull request with a fix soon.

[2018-03-26 21:13] ethankhall commented on #204
@ameliedagenais can you take a look at #212 and see if that will solve this one (I'll work on docs here soon)

[2018-03-26 21:34] ameliedagenais commented on #204
Yes, looks good to me.

[2018-03-26 23:04] #210 closed

[2018-03-28 05:05] jaredsburrows opened #214 "[0.7.11] - > Task :python:installBuildRequirements FAILED"
# Repro:
`$ gradlew clean build`

# Error:
[code]

[2018-03-29 20:22] jaredsburrows commented on #214
@zvezdan I had trouble building with the latest version from my home computer. The previous version works fine.

[2018-03-30 18:44] zvezdan commented on #214
@jaredsburrows It's one of those unpredictable transient errors in talking to PyPI. It seems to be happening more recently because of the transition from pypi.python.org to pypi.org (Warehouse).

There are ways to work around it.
For a small project, you can just add it into your dependencies under `setupRequires` configuration (not `python` runtime dependencies):
[code]
That way Gradle will fetch

[2018-04-02 19:44] kopy07 commented on #204
We've merged this, so I'll close this one out. Let me know if you run into anything else because of it!

[2018-04-02 19:44] #204 closed

[2018-04-05 16:56] okayplanet opened #218 "How to use a tar.gz as a dep in another project"
I managed to build a tar.gz of a module using pygradle, and am now wanting to import it into another project and use it.

My gradle file has the following dependency from the tar.gz created before:

[code]

and the setup.py has the following setup portion:
[code]

However, when I build, all I get is another build/distributions/import_example-0.0.1.tar.gz which doesn't seem to contain the original

[2018-04-06 02:02] zvezdan commented on #218
If I understand correctly, you made a *library* that other Python packages will depend on named _helloworld_. You probably used `...-sdist` plugin and that produced a source distribution tarball (package) for _helloworld_. Other Python packages can depend on it and use it.

If you want to make an *executable* though, then you would use one of the other plugins, such as `...-cli` or `...-web-app`.

[2018-04-06 03:10] okayplanet commented on #218
Okay.  You have definitely corrected a mistake of mine.  I indeed was using ```...-sdist``` for what I intended to be an _executable_.  So, I made the change to ```...-cli``` and tried to ```gradle build``` but am getting this error:

[code]

Just to be sure I am organizing things correctly,

The file structure of the helloworld-0.0.1.tar.gz _library_ is:
[code]

Where ./src/helloworld/main.py is

[2018-04-06 16:20] seakayone opened #220 "Allow configuration of working dir for the python process in AbstractPythonMainSourceDefaultTask?"
The `AbstractPythonMainSourceDefaultTask` executes python in the default working dir for any Action. This directory seem to be always the project root.

I am currently trying to package a generated protobuf serializer using `pygradle`. The serializer, `__init__.py`  and `setup.py` files are dynamically generated in `${buildDir}/generated` - ready to be packaged. I have set the `python.srcDir` to

[2018-04-10 03:45] sixninetynine commented on #186
This is an issue that's near and dear to our hearts as well... it would dramatically speed up builds too!

[2018-04-18 15:17] eagle-crisley opened #222 "Execution failed for task ':installPythonRequirements'. > Failed to install pytest-xdist-1.14."
Just trying to run the example project, and I receive the following error:

[code]

[2018-04-23 20:59] kopy07 commented on #222
Thanks! @eagle-crisley. Let me take a look.

[2018-04-27 20:51] maksimlikharev commented on #222
I have similar issues,

`Some packages may not be found!
    Couldn't find index page for 'pytest-runner' (maybe misspelled?)
    Download error on https://pypi.python.org/simple/: [SSL: TLSV1_ALERT_PROTOCOL_VERSION] tlsv1 alert protocol version (_ssl.c:590) -- Some packages may not be found!`

very much could be related to changing the URL from pypi.python.org to pypi.org

[2018-04-27 22:47] zvezdan commented on #222
See my comments and suggestions on #214 please.
We also added pytest-runner-2.9 and setuptools-scm-1.15.5 to our pypi-external repo which should help as well.

Due to the move of PyPI from pypi.python.org to pypi.org, though, we'll also go through the code and release a new version with that URL corrected.

[2018-04-27 22:48] zvezdan commented on #214
See my suggestion about `setupRequires` above @anjaneyulu1989 please.

We also added pytest-runner-2.9 and setuptools-scm-1.15.5 to our pypi-external repo which should help as well.

Due to the move of PyPI from pypi.python.org to pypi.org, though, we'll also go through the code and release a new version with that URL corrected.

[2018-04-27 23:03] maksimlikharev commented on #222
yes, I tried #214, but pytest-runner-2.9 wasn't in the linkedin  pypi-external repo, will try again.
as far as I understand, pypi.python.org will stop working altogether on Mon or Tue.

[2018-04-27 23:49] zvezdan commented on #222
@maksimlikharev Right, I just submitted a PR for upgrade of pypi URL: #224

[2018-04-28 00:50] zvezdan commented on #222
@maksimlikharev I just released pygradle-0.7.16

[2018-04-30 00:49] maksimlikharev commented on #222
thank you for the quick turn around.

[2018-05-08 19:02] eagle-crisley commented on #222
I'm actually still running into the original issue:
[code]

[2018-05-18 09:55] zrebie opened #227 "Multi platform pex distribution not supported"
Eventhough we can set multiple platforms via pexOptions for pex builder, the wheels dependencies are not downloaded. This off course ends with an exception:
`11:24:40.539 [INFO] [org.gradle.process.internal.DefaultExecHandle] Starting process 'command '/workspace/tr/build/venv/bin/python''. Working directory: /workspace/tr Command: /workspace/tr/build/venv/bin/python /workspace/tr/build/venv/bin/p

[2018-05-31 05:42] Bnsl-shbm commented on #51
I tried this approach and able to publish. but my ivy.xml does not have any dependency defined in it. Can you please suggest how to do it?

[2018-06-07 21:36] Geethree opened #229 "Most complete example of how to use pygradle?"
Hey everyone,

Love this idea.. I've been down the path to utilize pygradle a few times, but, lets all just be honest, this is rather complex and poorly documented. Needless to say, having a start -> finish "how to" guide would be awesome...

I'm currently stuck at getting my pivy imports into my artifactory repository. Any advice/links/ect.. would be awesome.

G

[2018-06-07 21:38] sixninetynine commented on #229
Hi @Geethree

I totally agree! The documentation is severely lacking. I have a task assigned to myself that I created far-too-long-ago https://github.com/linkedin/pygradle/issues/29

I will do my best to carve out some time in the next couple of weeks to go through this! Thanks for the issue!!

[2018-06-07 21:49] Geethree commented on #229
@sixninetynine Thanks! Any chance you know of some "real world" example projects that I can look at floating around?

[2018-06-07 22:01] sixninetynine commented on #229
@Geethree unfortunately no, given the nature of the beast (gradle) my experience is that most folks are using pygradle to integrate python into an existing gradle ecosystem, which usually means some internal set up. This is our experience at LinkedIn as well.

I'd love for it to be more useful on it's own! Especially for putting together polyglot software suites (it'd be awesome to see an open sou

[2018-06-07 22:28] Geethree commented on #229
Well let me know if you're ever in SF as there are plenty of food/drinks available if you wanted to have a pow wow over this ;) Highly motivated =D

[2018-06-08 06:01] bmellish commented on #229
I hope the below helps you get going.
A gradle build can be published with:

`./gradlew artifactoryPublish`

# Gradle & Pygradle information

The gradle project in question uses two plugins.  The first is the pygradle plugin.

The second is the artifactory plugin for publishing artifacts.

# Moving from plain python project to Gradle build

I used gradle v3.4 for the example below:

Inside your so

[2018-06-08 14:43] chrisbrake commented on #170
I had a reason to build another internal wheel at my company so I took another run at this.
This is the dependency tree before I specified anything.
[code]

The troublesome pypi:pytz:2004b.2 is already in there.  So I started looking at setup.py files.
Sphix has a dependancy 'babel>=1.3,!=2.0', there is no version of Babel between 1.3 and 2.0 so this may as well be babel==1.3
Babel 1.3 has a depen

[2018-06-08 14:55] chrisbrake commented on #170
After reverting back to my previously mentioned 'safe place' of 0.4.9 on Gradle 3.5 this is the dependencies output.

[code]

[2018-06-08 20:28] chrisbrake commented on #170
For whatever it's worth, even in my 'safe place' config, if I attempt to auto generate docs, (make a docs directory) I hit this problem as well.

[2018-06-18 20:46] chrisbrake commented on #170
Created a pull request over on Babel to bump their pytz version requirement
https://github.com/python-babel/babel/pull/592

[2018-06-18 21:15] akx commented on #170
Huh. What sort of dependency resolver is in use here? I don't see why `pytz>=0a` would end up choosing a 2004 version.

That said, the Babel PR is fine, but I think there's a bug in the resolver here too.

[2018-06-19 19:51] chrisbrake opened #231 "SourceDistPackage.groovy does not handle the Compatible release clause"
https://github.com/linkedin/pygradle/blob/dfb28e25e914336a9999e02e0f585ccc03548c61/pivy-importer/src/main/groovy/com/linkedin/python/importer/distribution/SourceDistPackage.groovy#L102

The file uses this segment of code to split the dependency name from it's version.
This does not work when the [Compatible release clause](https://www.python.org/dev/peps/pep-0440/#version-specifiers) is used `~=`

[2018-06-19 20:48] chrisbrake commented on #170
What I was experiencing was an implementation problem on our side.

Internally we have a task built on top of `pygradle/pivy-importer/src/main/groovy/com/linkedin/python/importer/ImporterCLI.java` that publishes to a local repo.
But we weren't passing in the 'latest' flag, so it was going out and finding the oldest possible version of pytz.

https://github.com/linkedin/pygradle/blob/dfb28e25e91433

[2018-06-27 02:35] yasz commented on #69
same here..

[code]

[code]

[2018-06-27 04:18] yasz commented on #214
@zvezdan  please help to rename setuptools_scm-1.15.5.tar.gz  to  setuptools-scm-1.15.5.tar.gz in linkedin jfrog. Thank you!

[2018-06-29 03:58] yasz opened #234 "how can i specify using default python3"
I have both python2 and python3 , how can I specify use python3 when I invoke gradle build?
os & python:
[code]

build & invoke message
`/opt/dev/build/venv/bin/hello_world`
`print(sys.path)`

[2018-06-30 00:18] chrisbrake commented on #231
Thanks for merging that in.

[2018-06-30 00:18] #231 closed

[2018-07-02 12:05] yasz commented on #234
Thank you , it solves my issue~

[2018-07-02 12:05] #234 closed

[2018-07-13 12:35] rchamarthy1 commented on #229
Advance apologies if this is not the correct place to post an issue while using pygradle.

It takes a lot of time to complete the build. With the following dependencies in build.gradle it takes over 30mins to just complete the gradlew build. And upon debugging with gradlew -d looks like the tests of the dependent python libraries are also ran before installing them. If so, is there a way to turn t

[2018-07-13 21:17] Krannthi commented on #69
Is this resolved, I have the same issue on windows.

[2018-07-24 16:20] chrisbrake opened #239 "SdistDownloader assumes that all dependencies will also be an sdist"
https://github.com/linkedin/pygradle/blob/2246e4f9a3ba35a525d2e5fe59b7c88fcf6884e0/pivy-importer/src/main/groovy/com/linkedin/python/importer/deps/SdistDownloader.groovy#L38

[2018-07-25 14:54] chrisbrake commented on #239
When trying to download Flask with this, in lenient mode, I ended up with these two errors.

[code]

[2018-07-30 16:11] qlan2 commented on #186
This feature has been implemented in https://github.com/linkedin/pygradle/pull/230

[2018-07-30 16:11] #186 closed

[2018-08-01 00:38] qlan2 opened #240 "Some wheels ivy files does not have default configuration"
There is a defect in current pivy-importer, for wheels which have metadata in Json file, the default configuration will not been created if there is no default runtime dependencies in the package metadata.

e.g., pywin32-223-cp36-cp36m-win_amd64.ivy
`<ivy-module version="2.0" xmlns:e="http://ant.apache.org/ivy/extra" xmlns:m="http://ant.apache.org/ivy/maven">
  <info organisation="wheel" module="p

[2018-08-03 19:18] kontact-chan commented on #222
setuptools_scm and setuptools-scm
It is the _ and - confusion. Can someone please fix this?

https://linkedin.jfrog.io/linkedin/pypi-external/pypi/setuptools-scm/1.15.5/

setuptools-scm-1.15.5.ivy      27-Apr-2018 22:37  588 bytes
setuptools_scm-1.15.5.tar.gz   27-Apr-2018 22:37  25.15 KB

Here is the error:
* What went wrong:
Execution failed for task ':cassandra_python:installSetupRequirements'.

[2018-08-03 20:59] #240 closed

[2018-08-03 22:48] zvezdan commented on #222
@kontact-chan We fixed the Ivy metadata.

[2018-08-10 03:06] chrisbrake commented on #229
Any interest in a [cookiecutter](https://github.com/audreyr/cookiecutter) template?

I recently built one for internal use at my work.  That would make getting off up and running rather easy.

[2018-08-21 09:01] Gmerold opened #244 "Own Artifactory hosted pygradle repo"
Hi guys,

Could someone please describe how do I set up pygradle repo using Artifactory? I couldn't find it in documentation.
Thanks in advance.

[2018-09-02 18:28] Ricky-N opened #246 "Install Requirements Fails, bad pbr version"
Hello! I've been trying to get pygradle to work, but I'm having a rough time with a bad PBR version buried somewhere in the dependency chain. Here's the output I'm getting:

[code]

Everything I can find online points to this version of pbr having a bug that leads to this. [Here's a stack overflow post ](https://stackoverflow.com/questions/39225976/issue-while-installing-python-module-pbr) w/ rele

[2018-09-23 18:19] jaredsburrows commented on #180
Any idea on this?

[2018-10-03 15:42] trillejs opened #249 "PIP>9.0.3 breaks usage of local repository for python plugins"
As seen in the following logs : [log.txt](https://github.com/linkedin/pygradle/files/2442684/log.txt)
Changing the default pip version for the venv to 9.0.3 solves the problem.
I use ivypot and the pivy-importer to create a project I can build offline.
However the use of PIP10 and above breaks this capability to install some packages offline, the build works fine when connected to the internet.
No

[2018-10-04 04:03] zvezdan commented on #249
@trillejs Yes, pip now supports [PEP 518](https://www.python.org/dev/peps/pep-0518). To control its behavior in an environment that does not allow outside access, one needs to specify certain options and ensure certain requirements. See the paragraph starting with "In certain cases, ..." in pip documentation: https://pip.pypa.io/en/stable/reference/pip/#pep-518-support

To apply this setting with

[2018-10-04 08:33] trillejs commented on #249
Thanks a bunch, passing the argument to pip works.

I understand, but it could be more explicit in the documentation that these are forced in some file in the plugin because it was a pain to override.
It should be possible to change the versions in the same way that the [python{} parameters are passed](https://github.com/linkedin/pygradle/blob/master/docs/plugins/python.md).

[2018-10-05 07:57] trillejs commented on #249
I tried using forceVersion but it was not taken into account. Maybe an error on my end, I'll check again.
Yeah documentation is always the neglected child of programming.
Maybe forceVersion shouldn't be used if there is also a dependecies{} bloc, it is confusing.
I use a dependency.gradle file  to handle what the pivy-importer needs to download and using dependencies instead of forceVersion would

[2018-10-05 16:20] zvezdan commented on #249
@trillejs I'm glad it helped.

Just to clarify in case I misunderstood your use case.

We do use `dependencies { ... }` closure to specify our product's *direct* dependencies.
Most of the time they will be the *runtime* dependencies in the `python` configuration (in Gradle terms) or the *test* dependencies in the `test` configuration. Such as:
[code]
There are two more configurations: `build` and

[2018-10-05 17:13] trillejs commented on #249
Thank you for the detailed response. As far as I am concerned you can close this issue.
I understand the need to differentiate the use cases and bundling as forced packages the essentials.
However it would really be better to unify the different dependencies of a project and make all packages explicit if needs be.

And yes, there are several steps involving different packages, depending on the use

[2018-10-05 17:40] #249 closed

[2018-10-08 16:13] itsmesrds opened #250 "I'm also thinking of adding Java nature to my gradle project to obtain pivy-importer dynamically and adding task that would run a jar and create a local repo. People who would use my code would be highly annoyed with idea of getting the jar and creating the repo manually. Any thoughts?"
-Bo

_Originally posted by @bostone in https://github.com/linkedin/pygradle/issues/111#issuecomment-277308540_

[2018-10-08 16:14] itsmesrds commented on #250
how to create a pypi repository using pivy-importer ..?

[2018-10-10 23:19] grantmagdanz opened #251 "te"

[2018-10-10 23:20] #251 closed

[2018-10-12 21:40] Auguronomics commented on #246
Hi, I got the same error,  testrepository have to be installed before pbr

[2018-10-12 22:19] zvezdan commented on #246
This is not pygradle issue, but we know from experience that _pbr_ can cause issues for people. For example we pin it in our pipeline. This is actually a well known issue with `setup_requires` being processed directly by _setuptools_ and not by _pip_ (or even Gradle in our case) because they are not recorded in either Python or Ivy metadata. See these parts of pip documentation for details:

* htt

[2018-10-12 22:19] #246 closed

[2018-10-18 06:29] muthurajr commented on #229
I was trying to include the MANIFEST.in file in the sdist but it doesn't get added when placed in the root directory of the project. Do we need to specify any parameter in setup() to handle this?

[2018-10-18 15:03] muthurajr commented on #229
@bmellish Thanks for the steps provided! It really helped me to solve the problem. I took a little  different approach in implementation

1) Created a new gradle task to store the properties in a file 'pygradle_properties.py' and added it after pinRequirements
[code]

2) Included in MANIFEST.in to copy the file pygradle_properties.py

3) Updated init block of GradleDistribution in setup.py with be

[2018-11-04 19:33] jaredsburrows opened #256 "[0.8.10] - Task :python:installProject FAILED"
## Repro:
`$ gradlew build`
`$ gradlew build`

## Error:
[code]

[2018-11-30 16:14] anjaneyulu1989 commented on #214
Hi @zvezdan , No luck even after adding the following, Is there anything am missing here.

`dependencies {
    setupRequires 'pypi:pytest-runner:2.9'
    // ...
}`

![image](https://user-images.githubusercontent.com/8857139/49300737-ce0c5380-f477-11e8-8daf-30d9e9401504.png)

[2018-11-30 23:59] zvezdan commented on #214
@maksimlikharev The artifact name is correct. The dependency asks for setuptools-scm and that will look into the Ivy file with that name. The Ivy file contains the correct name of the artifact:
[code]
Thus, Gradle is able to find the artifact. It's the same in our repo at LinkedIn and builds work just fine. Please, make sure to provide `setupRequires ...` dependency for setuptools-scm if you conti

[2018-12-01 00:00] zvezdan commented on #214
@anjaneyulu1989 There are newer releases of PyGradle. Try 0.8.10 or 0.8.11 -- I'm sure they are available on plugins.gradle.org.
I'll release the latest in 0.9.x series in a couple of hours too.

[2018-12-06 21:36] jmeekhof opened #268 "Python36 enum34 issue"
I'm attempting to build a project using the Python36 interpreter, and there's a package that calling for enum34, and I can't figure out how to prevent it from being installed. Any suggestion regarding which of the built in packages are calling for this or how to prevent it from being installed?

[code]

[code]

[2018-12-06 22:11] zvezdan commented on #268
You can try finding if Gradle considers it a dependency, or one of your Python packages asks for it.

To look for it using Gradle try:
[code]
Replace `python` with `build`, `test`, or `setupRequires` to check other configurations besides the runtime `python` configuration.

You can also check the Python package metadata:
[code]
The output should show the **conditional** dependency only. For exampl

[2018-12-06 22:20] jmeekhof commented on #268
Thanks for the quick reply. What I'm seeing is that Flake is at fault here:
[code]

[2018-12-06 22:33] zvezdan commented on #268
Workarounds:

* Try putting in the `python { ... }` closure: `forceVersion("pypi", "flake8", "3.2.1")` if you can use lower version of flake8. It seems that versions below 3.3.0 did not have that dependency.
* Alternatively, use older version of pygradle that did not update to flake8-3.6.0.

Notice that there's nothing wrong here with the flake8 itself. It declares the dependency **conditionally**

[2018-12-07 15:13] jmeekhof commented on #268
Using an earlier `forcedVersion` did the trick. Thanks.

[code]

[2018-12-07 15:13] #268 closed

[2018-12-07 17:33] Kindrat commented on #239
Same here. I'm working on a patch in my fork. So mb it would be available soon as PR

[2018-12-07 22:14] #182 closed

[2018-12-09 22:20] Kindrat opened #270 "Why groovy?"
Just a question - why groovy and not java? I would rather use 8-11 java with all the stream-lambda-vars etc. And also smart completion in Intellij. And pitest mutation coverage and lots of other things...

[2018-12-10 06:37] zvezdan commented on #270
Can you please clarify your question. If you look at the source code you'll see that most of the files are actually written in Java 8. Only the early code for the plugin was written in Groovy because that's what used to be a typical Gradle choice in the past. Every new file we added is written in Java 8 now and we migrated a lot of old files to Java too.

[2018-12-10 11:05] Kindrat commented on #270
I'm currently working on importer module. So that will be OK if I'll convert it to java in a separate PR?

[2018-12-20 22:41] jaredsburrows opened #272 "[Gradle 6.0] - The DefaultSourceDirectorySet constructor has been deprecated. This is scheduled to be removed in Gradle 6.0. Please use the ObjectFactory service to create instances of SourceDirectorySet instead."
## Warning:
[code]

[2018-12-30 22:08] umayrh opened #273 "pivy-importer doesn't import requirements from .zip sdist"
When using pivy importer to download the PyPi package networkx-2.2, it doesn't download the `decorator>=4.3.0` dependency declared in networkx.egg-info/requires.txt:

[code]

This might be because `explodeZipForRequiresText` (https://github.com/linkedin/pygradle/blob/9152d80467c05fdb419bb8964064d5bd473d9af2/pivy-importer/src/main/groovy/com/linkedin/python/importer/distribution/SourceDistPackage.g

[2018-12-31 23:52] umayrh commented on #180
@jaredsburrows I'm curious - did that work for you? It seems hard in my case since I've multiple Python packages,  and Travis doesn't support wildcards in cache directory names.

[2018-12-31 23:54] jaredsburrows commented on #180
Based on their cache page: https://docs.travis-ci.com/user/caching/, I believe it just does folders.

[2019-01-11 15:42] jmeekhof commented on #178
bump

[2019-01-28 15:55] dsully opened #274 "Supress distutils UserWarning"
/Users/dsully/t2/spec-definitions/build/spec-data/venv/lib/python3.7/site-packages/setuptools/dist.py:397: UserWarning: The version specified ('0.3.6-SNAPSHOT') is an invalid version, this may not work as expected with newer versions of setuptools, pip, and PyPI. Please see PEP 440 for more details.
  "details." % self.metadata.version

This is useless warning that everyone sees. Can we use Python

[2019-01-28 20:22] drkstr101 commented on #69
I was having the same issue, when I noticed I had Python in my user Path variable in Windows, but I had not  added it to the SYSTEM Path variable as well. I believe the later is what the python interpreter pulls for `System.getenv('PATH')`. Adding python dir to SYSTEM Path variable should fix this issue.

[2019-02-02 19:31] umayrh commented on #239
Encountering the same issue when downloading `airflow`:

[code]

@Kindrat Your fork fails to build:

[code]

[2019-02-02 19:40] Kindrat commented on #239
@umayrh I'm not going support PR for a dead project. A bit tired of waiting for any response.

[2019-03-18 20:05] Turakar opened #283 "How to add python packages without source distribution"
Problem: I want to use pygradle with tensorflow, but tensorflow does not publish source distributions. Therefore I cannot import it using `pivy-importer` into my local Ivy repository.

Question: How can I use packages without a source distribution with pygradle? How can I import them to a Ivy repository?

I did not find any documentation on this topic. If it is possible, it would be really helpful

[2019-03-19 09:31] Turakar commented on #178
You have to specify the binary classifier, as detailed in #230. You can look that up on [PyPI](pypi.org).

[2019-03-19 09:39] Turakar commented on #177
Same here. The import of `tensorflow-gpu:1.13.1:cp37-cp37m-manyliux1_x86_64` is pulled in as `tensorflow_gpu`, but the pip command line would be `pip install tensorflow-gpu`. Maybe it would be safe to just convert all underscores to dashes, similiar to `safe_name` used by `setuptools`. See this [question](https://mail.python.org/pipermail/distutils-sig/2011-August/017935.html) and [answer](https:/

[2019-03-19 17:05] Turakar commented on #239
This is actually still an issue as you can confirm by trying to import `tensorflow-gpu:1.13.1:cp37-cp37m-manylinux1_x86_64`. I think this should be re-opened.

[2019-04-01 22:09] Nickolaim opened #284 "flake8 plugins - how to enable them?"
How to install flake8 plugins so they are executed during `gradlew flake8`?

`flake8` that is used for this command is in `build/infra-ven` and I could not find a way to have plugins land into this virtual environment.

Please suggest.

[2019-04-01 23:31] zvezdan commented on #284
In general flake8 and Sphinx plugins should be declared as a `build` configuration dependency  (as opposed to `python` runtime dependency or `test` dependency).
Now, after the move of flake8 task you may need to declare `flake8` configuration dependency, or perhaps both `build` and `flake8`.

We've noticed this regression and since the reason it was made does not apply any more, we're planning on

[2019-04-02 14:45] Nickolaim commented on #284
Thank you, it helped!

Feel free to keep this issue as a reminder to revert the change.  Or just close it.

Thanks again.

[2019-04-26 16:26] kKdH opened #301 "Multi-Project-Example"
Hey everyone,

i would like to use pygradle in a multi-project setup with project dependencies. To get in touch with pygradle i started with an [example](https://github.com/kKdH/pygradle/tree/master/examples/multi-project-example) which i'm going to share with you by opening a PR later. I hope it will be helpful for #29 #229 #173 #144.

I created two gradle sub-projects. A python-cli app project a

[2019-05-08 07:36] marcosflobo commented on #244
Is there any help on this? I have the same question

[2019-05-08 13:15] marcosflobo opened #302 "Example - Use custom artifactory pypi repo"
Hi all,

I'm looking for some example for: Configure in my build.gradle my custom Pypi Artifactory repo

So, I already have configured a PyPi mirror in my Artifactory. I would like to have an example about how to configure this PyPi artifactory repository in a build.gradle file.

Thanks!

[2019-05-15 07:26] alexander-myltsev opened #303 "Examples doesn't work"
I'm unable to create and run the simplest project. I tried the examples, to start from scratch based on `PyGradle @ LinkedIn - Gradle Summit 2016` talk. I'm facing plenty of errors that prevent me even to build the simplest project. Would somebody point to the working example with the correct dependencies/plugins/setup.py/etc configuration?

[2019-06-02 03:33] jaredsburrows opened #306 "Version 0.10.8 is not published on Gradle Plugins"
Version 0.10.8 is not published on Gradle Plugins - see https://plugins.gradle.org/plugin/com.linkedin.python

[2019-06-06 09:21] koteibb commented on #229
hi
what about this issue ?

[2019-06-11 14:17] SupinePandora43 opened #308 "How disable using VENV ???"

[2019-06-11 14:37] SupinePandora43 commented on #308
also how can i disable running tasks ":installTestRequirements", ":installBuildRequirements", ":installSetupRequirements"

[2019-06-12 18:51] xsaycocie opened #309 "Cannot import moto with version > 1.1.0 using pivy-importer-0.10.8-all.jar"
[error.log](https://github.com/linkedin/pygradle/files/3282751/error.log)
When using the jar to import newer moto versions we run into this error with this exact java command:

`java -jar resources/pivy-importer-0.10.8-all.jar --debug  --repo /tmp/repository "moto:1.3.8"`

**`Exception in thread "main" java.lang.RuntimeException: Unable to find source dist for python-jose:0.1.0**
        at sun.re

[2019-06-26 09:06] shvilime commented on #192
HI ! @Kindrat,
Can you explain, what type of repository have you added in Nexus? As I understand, the Nexus support only Maven repository (not Ivy).

[2019-06-26 09:45] Kindrat commented on #192
@shvilime Nexus supports all kinds of repositories. The goal was to use existing Nexus instead of deploying additional artifactory instance.

[2019-06-26 10:01] shvilime commented on #192
@Kindrat, I didn't find in nexus documentation ([supported type](url=https://help.sonatype.com/repomanager3/supported-formats#app)) information about Ivy format. What "existing Nexus" repository do you mean ?

[2019-06-26 10:47] Kindrat commented on #192
@shvilime Existing means the one I already use for Npm, Maven and Pypi. As for ivy - gradle allows to define repo url pattern, ivy is one of supported for any type of repo. I'm using Pypi repo with ivy metadata so that is could work as vanilla Pypi and as gradle repo with all features of dependency management.

[2019-06-26 11:19] shvilime commented on #192
@Kindrat, thanks for your comment. PyPI repo supports in Nexus since version 3.0.2. OK, I have to upgrade our Nexus. Anyway, if we want to build private repository, we have prepare ivy and upload the artifactories to Nexus (big job), or proxy Nexus to existing PyPI repository with ivy. Have you tried to proxy Nexus on public linkedin Artifactory repository or something like this?

[2019-06-26 17:56] Kindrat commented on #192
Nope. I've patched pivy-importer to generate all the ivy metadata for my dep tree and twine to upload whole local pypi-ivy repo to Nexus.

[2019-07-05 10:34] shvilime commented on #192
@Kindrat, Can briefly explain, how to create repository, that allow to load ivy files in Nexus 3?

[2019-07-08 09:02] shvilime commented on #192
@Kindrat Are you use in Nexus "PyPi type" of repository + additional upload ivy file in each artifact(I can't do this), or "RAW type" of repository that allow upload what you want ?

[2019-07-08 09:02] shvilime commented on #192
@Kindrat Are you use in Nexus "PyPi type" of repository + additional upload ivy file in each artifact(I can't do this), or "RAW type" of repository that allow upload what you want ?

[2019-07-08 21:31] srvxid opened #310 "Download a dependency from a hosted pypi server"
I'm trying to download from an artifactory server used internally, and as such I've added the `python.pipConfig` var in build.gradle as per https://github.com/linkedin/pygradle/blob/master/docs/plugins/python.md#pipconfig-examples

However, it fails to download from the listed repository in pipConfig. Do I need to add that info somewhere else as well?

[2019-07-08 23:24] srvxid commented on #302
@marcosflobo Did you ever figure out how to do that? I've the exact same question and given the lack of a response here I doubt I'll get one to my issue. I'm debating whether to use pyGradle at all now.

[2019-07-12 11:45] Frontrider commented on #69
Same issue. Python is in my path variable for boot the use and the system. I'd be glad if there was a way to set it manually.

[2019-07-13 19:50] Kindrat commented on #192
@shvilime please, read "solutions" section of my original post. I've patched twine to upload ivy files within regular sdists and taught gradle plugin to use pypi-ivy metadata similar to how it uses it for java.

[2019-07-23 11:57] shvilime commented on #302
Just add in your build.gradle.
`repositories {
    ivy {
        url 'http://XX.XX.XX.XX/nexus/repository/pypi-external/'
        layout 'pattern', {
            artifact '[organisation]/[module]/[revision]/[artifact]-[revision](-[classifier]).[ext]'
            ivy '[organisation]/[module]/[revision]/[module]-[revision].ivy'
            m2compatible = true
        }
    }
}`

[2019-08-10 21:45] svermeulen opened #312 "This project really needs an actual example project"
The example projects provided in the repo don't work out of the box.  I was able to get them to work anyway by using this:
[code]
But when I try using the latest version it fails with errors related to "pbr" not found.  Or if I try using a python 3 project I get errors related to pip not found.

I love the idea of this project but without proper documentation or even a working example I can't see

[2019-08-10 22:10] svermeulen opened #313 "Why even follow the python packaging format if everything needs to be in artifactory anyway?"
What I don't understand about this plugin, is why it uses setup tools at all?

In the end everything needs to be in artifactory, so why not just store the packages in a custom format, then extract them locally when installing the build, create a virtual environment that loads this, etc.

[2019-08-10 22:45] svermeulen opened #314 "What advantages does this have over hosting a custom pypi server?"

[2019-09-02 13:16] petrabrunner commented on #308
if you are still wondering: ad your 2nd question:

simply add (f.e.):
tasks.installTestRequirements.enabled = false
to the gradle script where you add the plugin.
at least thats how I disabled the tasks I dont need.

[2019-09-02 13:24] SupinePandora43 commented on #308
@petrabrunner thx

[2019-09-05 05:50] petrabrunner opened #315 "how to tell the plugin to use python3 instead of python2"
Hi. I dont know if there is a way to do this, and have not found a way to circumvent this any other way (yet), so I thought I'd create an issue.

I noticed the plugin seems to use the python version which reacts to the "python" command to create a virtualenvironment. meaning: If there are 2 different python versions installed on a system (in my case it is a ci machine which cannot be changed becau

[2019-09-05 06:44] petrabrunner commented on #315
for anyone else wondering:

this is how it finally worked for me:
[code]

[2019-09-05 06:44] #315 closed

[2019-09-11 20:29] jggomezt commented on #246
This does not work for me. Could ypu help me?

[2019-09-23 23:43] Mrodent opened #317 "Can anyone explain this early problem?"
Hi,
Love the idea. Needs a bit more documentation perhaps?
I got as far as
$ ./gradlew build
and then this failed after a bit:

Install PyLookup2019-09 ............................................. [STARTING]
Obtaining file:///home/mike/software%20projects/eclipse-workspace/PyLookup2019-09
No files/directories in /home/mike/software projects/eclipse-workspace/PyLookup2019-09 (from PKG-INFO)

"No f

[2019-10-16 17:16] shvilime commented on #306
Please, publish fresh version of PyGradle in gradle plugins repository

[2019-11-20 21:52] wadetregaskis-linkedin opened #324 "term:missing should be used in preference to 'term'"

[2019-11-21 00:52] warsaw commented on #324
Can you just add `skip_covered=true` to your `setup.cfg`?

[2019-11-21 01:00] wadetregaskis-linkedin commented on #324
Unfortunately not - I tried that, but it applies to _all_ reports, not just the one output to the terminal.  That's what I was alluding to in my original comment here.

I also tried re-setting it to false specifically in the `[coverage:html]` et al sections, but unfortunately it's apparently not supported in those sections (evidently they're not logical 'subclasses' of the 'report' section).

[2019-11-21 01:03] warsaw commented on #324
Ah, sorry; you wrote `skip_missing` so that threw me off.

FWIW, I like the 100% coverage output.  Unfortunately, I'm not sure this is supported by coverage.

[2019-11-21 01:10] wadetregaskis-linkedin commented on #324
Whoops!  Sorry for the confusion.  Properties - they're all the same, right? ;)

[2019-11-21 01:12] wadetregaskis-linkedin commented on #324
It is supported - AFAICT that's why 'term:missing' exists, as a special-case way to override `skip_covered` _only_ for terminal output.  It unfortunately appears to be the _only_ way to do that, and I don't see any way to otherwise modify what the coverage pygradle plugin passes to pytest w.r.t. these parameters.

[2019-11-21 18:45] warsaw commented on #324
FYI, this change would have to be made in `PyCoverageTask.groovy`:

[code]

We would have to think about how to make this configurable since we still want to support `--cov-report=term`.

[2019-11-21 18:51] wadetregaskis-linkedin commented on #324
Agreed making it configurable would be wise.  I have no objection if I have to explicitly turn this on within build.gradle or similar - so long as there's some way for me to do so.

[2019-12-03 13:10] Ryan-Gordon1 commented on #29
Do we still have plans to provide more examples with the documentation ?

[2020-01-14 11:04] Ryan-Gordon1 opened #336 "Can we update the documentation to provide a full working example for 2020 onwards."
As it stands there are a bunch of gotchas with this project. From certain versions of packages not working (we eventually learn it is related to the fact they aren't pulling from Pypi) to having a very tight coupling to pivy-importer (which is admitted to be more of a throwaway as linkedin use an internal package) I feel the documentation needs an overall.

Without clear working examples to get th

[2020-01-14 11:38] Ryan-Gordon1 commented on #336
To speak briefly on pivy-importer. It seems at an absolute minimum you need : virtualenv, pip, setuptools (in most cases) and whatever packages you need. I think there should be a list of needed modules to get started with this pypi+ivy approach

[2020-01-14 12:00] Ryan-Gordon1 commented on #336
When trying to get packages with pivy importer it seems to be gathering the incorrect versions of packages. For example when getting flake and Sphinx it pulls in six:1.13 but 1.11 is required for the `installBuildRequirements`

Using details I can forceVersion of the package : `forceVersion('pypi', 'six', '1.13.0')` but I would rather it would accept a higher version of the package. Unless of cour

[2020-01-22 12:59] shvilime commented on #306
Dear @zvezdan, could you inform, are you planing to post the latest versions pygradle in gradle plugin repository? A lot of time has passed since version 0.9.11.

[2020-01-23 15:08] smslack commented on #234
Where  is the python config block defined? Is it in the build.gradle file?

[2020-01-23 15:14] smslack commented on #234
I keep getting this error while running the gradle build using pygradle:

Processing /tmp/pypi-local/pypi/Sphinx/1.8.1/Sphinx-1.8.1.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-req-build-Zb0QRr/setup.py", line 82, in <module>
        from babel.messages.pofile import read_po

[2020-01-23 16:25] smslack opened #337 "Build issue with pygradle"
I keep getting this error while running the gradle build using pygradle:

Processing /tmp/pypi-local/pypi/Sphinx/1.8.1/Sphinx-1.8.1.tar.gz
Complete output from command python setup.py egg_info:
Traceback (most recent call last):
File "", line 1, in
File "/tmp/pip-req-build-Zb0QRr/setup.py", line 82, in
from babel.messages.pofile import read_po
File "/home/python_packaging_example_git/build/venv/lo

[2020-02-14 16:04] shvilime commented on #337
To use python version 3.6, you can set this in your build.gradle.
`
python {
     details {
        virtualEnvPrompt = "(${project.name})"
        activateLink = project.file("activate")
        pinnedFile = project.file('requirements.txt')
        details.pythonVersion = '3.7'
     }
}
`

[2020-02-17 16:23] Ryan-Gordon1 opened #338 "How do use Pygradle tasks with a custom virtualenv name."
Pygradle comes with pre-made tasks which is very handy for getting up and running after you figure out the gotchas. One gripe though is they all seem to depend on a virtualenv called `venv`. If you disable to createVirtualEnv tasks or use something else for virtualenv creation all the other premade tasks fail as they depend on an env called `venv`
Is there a way to change this for all tasks ?

[2020-02-20 14:17] Ryan-Gordon1 opened #339 "Set up a bounty system"
I noticed that pygradle is listed on this bounty page https://www.bountysource.com/teams/linkedin/issues?tracker_ids=43361003

But I am unsure if this is used.
Think it would be a good idea to encourage initial outside collaboration.

[2020-02-27 23:23] stepanovdg commented on #100
Caching disabled for task ':common:installBuildRequirements' because:
  Build cache is disabled
Task ':common:installBuildRequirements' is not up-to-date because:
  **Task has not declared any outputs despite executing actions.**

https://docs.gradle.org/4.0/userguide/more_about_tasks.html#sec:up_to_date_checks

What this means for build authors is simple: you need to tell Gradle which task proper

[2020-02-28 12:22] Ryan-Gordon1 commented on #100
This issue if solved I feel will help alot of users. I have a use case where I am creating a task which inherits from PipInstallTask. Even though I define outputs I still inherit the lack a parallelisation.

[2020-02-28 12:58] Ryan-Gordon1 commented on #100
In my case these are the tasks affecting me :
`installPythonRequirements' is not up-to-date because:
  Task has not declared any outputs despite executing actions.
`
And
`:installTestRequirements' is not up-to-date because:
  Task has not declared any outputs despite executing actions.`
As well as 1 custom one.

Do we feel a fix to PipInstallTask could fix these also or would these tasks need thei

[2020-02-28 15:51] joshatcaper commented on #301
Sorry to post on this old issue but I think this is still a problem. Does anyone have a workaround?

[2020-02-28 21:31] stepanovdg commented on #100
I think it is required to revisit all tasks inpygradle and think about input/output concept.
In that case the build process will be faster and works in the same way.

p.s. Topic for another issue - is proper dependency substitution. I am not sure but assume that the reason of not possibility to make something like:
`configurations.python {
  resolutionStrategy.dependencySubstitution {
    substitu

[2020-03-01 22:19] jaredsburrows commented on #306
Any update on this?

[2020-03-29 20:49] blundell commented on #317
try moving `__init__.py` to `src/__init__.py`

[2020-04-15 15:35] divaybansal opened #342 "File not found error while executing gunicorn command"
Below is our gradle setup

[code]

We have a Jenkins server that has default python 2.7. We have installed additional python plugin 3.7 but it is not Jenkins server default.

We set the systemPythonInterpreter and pythonVersion values correctly to version 3.7.  When we run the gunicorn command this fails with

`/usr/bin/env: /opt/path/bin/microservice_appl.pex: No such file or directory`

When we

[2020-05-19 01:50] jshingler opened #343 "Does PyGradle work with Python3.8 - re.py line 145 enum no attribute IntFlag"
Okay, ... Still a newbie to python, ...  I use gradle in professional life, ... I was excited to see python plugin for gradle, ...

been looking into this off and on for 2 days, .... thought maybe I was doing something wrong, ... starting to think that maybe pygradle doesnt work work Python3.8?

See output below.

gradle build

Error installing package using `[/root/workspace/build/venv/bin/python

[2020-05-19 01:51] jshingler commented on #343
Even set it up in a NEW Docker container just to make sure something in my environment wasn't the problem.

[2020-05-31 05:38] #220 closed

[2020-07-17 13:46] fjahoda opened #344 "Why pygradle uses setuptools-git?"
This project by default includes all files tracked by git into source code package when running `python setup.py sdist`.
This is bit opinionated and can be only mitigated by specifying `MANIFEST.in` file.

https://pypi.org/project/setuptools-git/

[2020-07-21 15:38] wssrcok commented on #343
this enum problem you just need to force version, I found it somewhere in the issue a while ago.
python {
    ... other config ...
    forceVersion('pypi', 'flake8', '3.2.1')
    forceVersion('pypi', 'six', '1.13.0')
}

[2020-07-21 15:51] wssrcok opened #345 ""Unable to find or execute python" python details set version=3 only works for python3.7"
in an Ubuntu18.04 container, I keep getting this error:
[code]
I tried install python3.5, 3.6 and 3.8. but only python3.7 works.
I know the work around would be setting systemPythonInterpreter = file("/usr/bin/python3"). But it's not portable: works on ubuntu but doesn't work on my mac (which has different path: /usr/local/bin/python3)

I'd be appreciate if someone can look at the issue and point

[2020-07-30 08:16] divaybansal opened #346 "Resolve wheel based dependencies"
We would like to use wheel based artifacts instead of tar for dependency resolution.  For some python packages that are dependent on native libraries, it is always better to use wheels since these libraries are bundled together inside a wheel package.

Pivy importer is able to download the wheel file and create ivy based configuration using the below command.

`pivy-importer-0.12.10-all.jar --repo

[2020-08-19 20:45] marcosflobo commented on #302
Sorry for the 1 year late @srvxid , I didn't so far

[2020-08-25 07:51] nedtwigg opened #347 "Spotless now integrates with black, but it could be better"
[Spotless](https://github.com/diffplug/spotless/tree/main/plugin-gradle) is a code formatting plugin.  It's main value adds are:

- it lets you compose multiple formatters (e.g. black + a license header that slurps copyright info from git history)
- it fixes lots of common bugs in formatters ([idempotence](https://github.com/diffplug/spotless/blob/main/PADDEDCELL.md), misconfigured [encodings](htt

[2021-01-11 01:16] rohit-karthik opened #348 "Issue with creating a virtualenv."
Hello,

I tried to get pygradle working with my project, but couldn't get it to work, as during the build in the "wheel-api.py" file, I get three question marks instead of a ')':
![image](https://user-images.githubusercontent.com/63020497/104140666-68356a00-5367-11eb-8732-a27145619c3a.png)

The error in the console:
![image](https://user-images.githubusercontent.com/63020497/104140681-74b9c280-536

[2021-02-08 23:11] realill commented on #348
I have the same problem on Ubuntu 20.04, looks like this code does not completely write file:
[code]

[2021-02-08 23:45] alexogar opened #349 "Struggling with virtualenv and sys.prefix"
Hi Guys,

Could you please help me find the root cause for following

`> Task :ml:createVirtualEnvironment FAILED
Using base prefix '/usr/local/Cellar/python@3.9/3.9.1_8/Frameworks/Python.framework/Versions/3.9'
New python executable in /Users/alexogar/Projects/code/anomaly-logger/ml/build/venv/bin/python3.9
Not overwriting existing python script /Users/alexogar/Projects/code/anomaly-logger/ml/bui

[2021-02-09 17:44] realill commented on #348
Ok, I think I found two solutions to this problem:
First is to use JDK8, problem does not occur there.

Another one patching  ./pygradle-plugin/src/main/groovy/com/linkedin/gradle/python/tasks/action/ProbeVenvInfoAction.java with following code:
[code]

After recompiling and doing ./gradlew publishPluginMavenPublicationToMavenLocal plugin seem to work fine locally.

[2021-02-09 21:45] #349 closed, assigned to nobody

[2021-02-09 21:57] alexogar commented on #348
Tried with jdk8 - same issue

[2021-03-17 23:19] umayrh opened #350 "functools32 dependency in installBuildRequirements"
While trying to upgrade my PyGradle project to python3, I see that the build invariably fails while trying to mysteriously install `functools32`. I've already spent weeks try to make PyGradle work with Python 3. Shouldn't it just work out of the box since Py2 is not supported anymore?

[code]

build.gradle:

[code]

[2021-03-29 16:57] jgriff commented on #98
Any news on this front?

[2021-06-14 15:48] filchristou commented on #306
Hello. The latest update still remains `0.9.11`: https://plugins.gradle.org/plugin/com.linkedin.python
Are you planning to post the latest version in the Gradle plugin repository?
Also, I can see that the project supports Gradle version 5, while currently, the Gradle version is on 7.
And it seems that `0.9.11` is not working with Gradle 7.
What are your plans for the future?

[2021-06-15 09:36] shvilime commented on #306
It is possible to download last version of plugin from jcenter.
[code]

[2021-07-30 15:46] asubbotin-snaplogic commented on #345
You may try to set the location of the interpreter (the example is on Kotlin):

[code]

[2021-08-18 00:38] mjothiram opened #351 "build issue - createVirtualEnvironment -> pygradleBootstrap"
I see this issue in my build from this morning. And trying to see this PyPi in LinkedIn Artifactory, but could not see that. Is it removed or any issue?

Thanks

Execution failed for task ':airflow:createVirtualEnvironment'.

     Required by:
         project :airflow

[2021-08-18 05:23] rafishaiks03 commented on #351
Hi mjothiram,

I'm also facing the similar kind of error please let me know if any solution has been provided.

Thanks in Advance..!!

[2021-08-18 08:34] rafishaiks03 commented on #351
Hi

Can anyone please address the above issue, iam also facing the same.

I'm not able to get a solution....

Thanks in Advance..!!
![image](https://user-images.githubusercontent.com/79188848/129865932-430827d4-83bc-4092-817c-9d8f75b5a901.png)

[2021-08-18 17:46] sudhir418 commented on #351
Even we are facing the same issue , any alternatives?

[2021-08-18 21:23] byblakeorriver commented on #351
Same here.

[2021-08-19 16:49] rafishaiks03 commented on #351
I'm still facing the same issue and didn't find any alternatives also..
still looking for help.. if not dropping Pygradle is the only option left...

[2021-08-19 18:08] griffinptg commented on #351
I was able to resolve by downloading dependencies from pypi and uploading to my company's Artifactory. I had to make an .ivy file for each. It was a pain!

For example:
Download the .tar.gz here: https://pypi.org/project/virtualenv/16.0.0/
Upload that to your own Artifactory (assuming you have one) with an ivy file, virtualenv-16.0.0.ivy:

[code]

There are a bunch more after this FYI. And if you

[2021-08-24 06:12] rafishaiks03 commented on #351
Hi @griffinmm,

It seems you have posted in maven dependency format could you please help me out how and where to add the above code in gradle build. May be you can share your build.gradle file with the above things.

Thanks in Advance...!

[2021-08-28 06:16] shvilime opened #352 "pass pexOptions to plugin"
Hi !
How can I pass pexOptions to the last version of plugin?
In version 0.9.11 I used to buildPex.pexOptions = ["--entry=tax.main"], but now realBuildPex.pexOptions doesn't work.

[2021-08-28 07:22] shvilime commented on #352
After researching the plugin code, my solution is next code :)
[code]

[2021-08-30 15:25] griffinptg commented on #351
@rafishaiks03 Here's my build.gradle, sanitized a bit:

[code]

[2021-09-20 17:50] kontaras opened #353 "Class org.gradle.api.internal.project.DefaultProject_Decorated does not implement the requested interface org.gradle.api.internal.file.FileOperations"
I am trying out to create a new pygradle project and get the following error:

[code]

[code]

[2021-09-21 16:06] purple52 commented on #353
@kontaras I just hit exactly the same error. I was using Gradle 7.2. Downgrading to Gradle 6.8.3 made this go away, so I'm guessing Pygradle doesn't like Gradle 7.x.

[2021-12-28 21:23] anjaneya17 opened #355 "Exclude transitive dependency from requirements.txt"
Hi,
  Context:
          I am new to Python coding.
          numpy version 1.21.5 has a security vulnerability https://github.com/numpy/numpy/issues/18993.
           This dependency is a transitive dependency not a direct dependency. We are sure that in our code we are not using any functionality that requires this
            transitive dependency.

 Request:
     Is there any way to configure

[2022-01-04 05:50] rgommers commented on #355
1. `1.22.0` is released, so no workaround needed anymore
2. This CVE is nonsensical

[2022-03-14 06:08] SimY4 commented on #306
now since jcenter is gone, are there any plans to re-publish this plugin to maven central?

[2022-05-29 07:24] kmgowda commented on #353
I am also seeing this issue with gradle 7.3.3 ; i urge com.linkedin.python to fix this issue ASAP

[2022-07-11 10:15] pombredanne opened #357 "Is this project still actively maintained?"
@elautz @zvezdan
I have a request to better scan the dependency style of pygradle in https://github.com/nexB/scancode-toolkit/issues/3015 and I was wondering if this project is still actively maintained as the last commit was about two years ago.
Thanks!

[2022-07-11 18:18] warsaw commented on #357
No, this project really isn't still actively maintained.

[2022-07-14 07:33] pombredanne commented on #357
Thanks!

[2022-07-19 15:03] Xinerama commented on #29
I'm looking for more examples too. Any work on this?

[2022-07-30 13:53] pombredanne commented on #357
Reopening to keep this visible to others.